{% extends "appPersonal/listado/listado_base.html" %}
{% load i18n %}

{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a href="{% url 'listado/agentes_base_vieja' %}" class="pagination">/ Base vieja / Listado agentes </a><a href="#" class="activo">/ {{agente.apellido}} {{agente.nombres}}</a>
{% endblock %}


<link rel="stylesheet" type="text/css" href="{% block stylesheet %}/site_media/personal/css/base2.css{% endblock %}" />
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/site_media/personal/css/dashboard.css" />{% endblock %}


{% block path %}

{% endblock%}



{% block barraherramientas %}  
{%endblock%}

{% block main-list %}
		<h2>Seleccione una opción:</h2>
		
		
		<div id="menuvertical">
		<center>
		<ul>

		<li class="nivel1" style="list-style: none;"><a style="text-decoration: none;color: #45b39d;font-size: 20px;" href="{% url 'listado/base_vieja/medicavieja' %}?idagente={{idagente}}">Medica</a></li>
		<br>
		<li class="nivel1" style="list-style: none;"><a style="text-decoration: none;color: #45b39d;font-size: 20px;" href="{% url 'listado/base_vieja/licenciaanualvieja' %}?idagente={{idagente}}">Licencia</a></li>

		</ul>
		
		</center>
		</div>
		
{% endblock %}
</br>

{% block paginasinf %} 
{% endblock%}