<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />

{% endblock %}

{% block branding %}{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block footer %}{% endblock %}

{% block content %}


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Untitled Form</title>
<link rel="stylesheet" type="text/css" href="/assets/css/view.css" media="all">

<script>
	function ingctapatrimonial(opcion){
				
		pdf = 0;
		
		open("/deposito/listado/stockactual/?dato="+opcion+"&pdf="+pdf,"_self");	
	
		return false;
	}
	
	function ingctapatrimonialdepo(opcion,opciondepo){
		       		       	
		pdf = 0;
			
		open("/deposito/listado/stockactualdepo/?dato="+opcion+"&opciondepo="+opciondepo+"&pdf="+pdf,"_self");	
	
		return false;
	}
</script>



</head>
	<div id="form_container">
	
		<h1><a>Stock</a></h1>
		<form id="form_597362" class="appnitro"  method="post" action="">
		<div class="form_description">
			<h2>Listado Stock Actual Articulos.</h2>
		
		</div>						
		
					
		<table id="result_list">
		
		        		       
		        {%if opciondepo != 0%}
			<thead>
				<tr>
					
					<th>Artículo</th>
					<th>Descripción</th>
					<th>Stock</th>
					
				</tr>
			</thead>
			<tbody>
				
				
				
			        {%for art in listdartdep%}
					
					<tr class="{% cycle 'row1' 'row2' %}">
							
							<td>{{art.idarticulo}}</td>
							<td>{{art.descripcionitem}}</td>
							<td>{{art.stock}}</td>
							
	 				</tr>
				{% endfor %}
			 
			 </tbody>
			 
		         {% else %}
				
				    <thead>
				    <tr>
					    
					    <th>Artículo</th>
					    <th>Descripción</th>
					    <th>Stock</th>
					    <th>Depósito</th>
					    
				    </tr>
				    </thead>
				    <tbody>
					    
					    
					    
					    {%for art in listdartdep%}
						    
						    <tr class="{% cycle 'row1' 'row2' %}">
								    
								    <td>{{art.idarticulo}}</td>
								    <td>{{art.descripcionitem}}</td>
								    <td>{{art.stock}}</td>
								    <td>{{art.direccion}}</td>
								    
						    </tr>
					    {% endfor %}
				    
				    </tbody>
				
				
		         {% endif %}
			
		</table>
	</form>	
	
	
	<input type="button" value="Volver Atrás" name="Back2" onclick="history.back()" style="
		  margin-left: 10px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
	" />
	
	{% if opciondepo == 0 %}
				
		<input id="saveForm" class="button_text" type="submit" name="submit" value="Generar PDF" onclick="javascript:ingctapatrimonial({{opcion}})" style="
		  margin-left: 30px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
		
		
		
	{% else %}
		
		
		<input id="saveForm" class="button_text" type="submit" name="submit" value="Generar PDF" onclick="javascript:ingctapatrimonialdepo({{opcion}},{{opciondepo}})" style="
		  margin-left: 30px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
		
	{% endif %}
	
	
	</div>
	
	
	
	
{% endblock %}
