<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    </head>
<body>
  <div id="content">
  <div id="content-main" style="background-color:#fff">
        <h1>Administracion de Vialidad provincial</h1>
        <ul>
                <li><a href="/admin">Sistema Deposito</a></li>
                	<ul>
				<li><a href="/lista/Compra"> Reporte Compras</a></li>
				<li><a href="/lista/Salida"> Reporte Salidas</a></li>
				<li> Reporte Transf</li>
			</ul>
		
        </ul>
  </div>
  </div>
</body>
</html>












