<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Administracion Vialidad Provincial</title>
		<link rel="icon" href="{% static 'favicon.png' %}" type="image/png"/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'indexProyecto/assets/css/main.css' %}" />
		
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="#">Personal</a></li>
					<li><a href="#">Deposito</a></li>
					<li><a href="#">Taller</a></li>
					<li><a href="#">Pasajes</a></li>
					<li><a href="#">Patrimonio</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="fondo_res.jpg" style="background-image: url({% static 'indexProyecto/images/fondos/fondo_res.jpg' %})">
				<div class="inner">
					<header>
						<h1>Administraci&oacuten Vialidad Provincial</h1>
					</header>
				</div>
				<a href="#footer" class="more">Learn More</a>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h4>
						Copyright (c) 2012 Administración Vial Provincial (AVP) Todos los Derechos Reservados.
						Estas aplicaciones están protegidas por copyright y distribuidas bajo licencias que restringen la copia y la distribución. 
					</h4>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'indexProyecto/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'indexProyecto/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'indexProyecto/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'indexProyecto/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'indexProyecto/assets/js/util.js' %}"></script>
			<script src="{% static 'indexProyecto/assets/js/main.js' %}"></script>

	</body>
</html>