<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />

{% endblock %}

{% block branding %}{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}



{% block footer %}{% endblock %}

{% block content %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Untitled Form</title>
<link rel="stylesheet" type="text/css" href="/css/view.css" media="all">


<script>
	function ingctapatrimonial(){
	
	
		posicion1 = document.getElementById("select1").options.selectedIndex;
		opcion1 = document.getElementById("select1").options[posicion1].text;
		n=opcion1.split(" ");
		dato = n[0];
				
		//alert("Fecha desde: "+desde +"/// Fecha Hasta: "+hasta );
		//alert("opcion: "+n[0]);
		
		pdf = 1;
				
		open("/deposito/listado/stockactual/?dato="+dato+"&pdf="+pdf,"_self");	
		
		
		//alert("Fecha desde: "+desde +"/// Fecha Hasta: "+hasta );
		//alert("opcion: "+n[0]);
				
		return false;
	}
	
	function ingctapatrimonialdepo(){
	
	       	
		posicion1 = document.getElementById("select1").options.selectedIndex;
		opcion1 = document.getElementById("select1").options[posicion1].text;
		n=opcion1.split(" ");
		
		dato = n[0];
			
		//alert("Fecha desde: "+desde +"/// Fecha Hasta: "+hasta );
		//alert("opcion: "+n[0]);
		
		pdf = 1;
			
		posiciondepo = document.getElementById("select2").options.selectedIndex;
						
		open("/deposito/listado/stockactualdepo/?dato="+dato+"&opciondepo="+posiciondepo+"&pdf="+pdf,"_self");	
		
		
		//alert("Fecha desde: "+desde +"/// Fecha Hasta: "+hasta );
		//alert("opcion: "+n[0]);
				
		return false;
	}
	
</script>


</head>

	<img id="top" src="/img/top.png" alt="">
	<div id="form_container">
	
		<h1><a>Untitled Form</a></h1>
		<form id="form_597362" name="formulario1" class="appnitro" action="">{% csrf_token %}
		
		<table>
			<div class="form_description">
			<h2>Listado Stock Actual Articulos.</h2>
			<p>Seleccione la Cuena Patrimonial para listar la cantidad de articulos.</p>
			</div>
				
			
			<ul >
		
			<select id="select1" name="select1">
			{% for elemento in datos %}
			    <option>{{elemento.codigocuenta}}  -  {{elemento.descripcioncuenta}}</option> 
			{% endfor %}
			</select>
			
			
			{% if opcion == 0 %}
			    Depósito:
			    <select id="select2" name="select2">
			   
				<option>Ninguno</option>
				<option>Sarmiento</option>
				<option>Pto. Madryn</option> 
				<option>Esquel</option> 
				<option>Gaiman</option> 
				<option>Rawson</option>
				<option>Trevelin</option>
						    
			    </select>
			{% endif %}
			
			
			</ul>
		</table>	
		</form>
		
		<table>	
		<tr>
		<td>
		{% if opcion != 0 %}
		<input id="saveForm" class="button_text" type="submit" name="submit" value="Listar" onclick="javascript:ingctapatrimonial()" style="
		  margin-left: 30px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
				
		{% else %}
		<input id="saveForm" class="button_text" type="submit" name="submit" value="Listar" onclick="javascript:ingctapatrimonialdepo()" style="
		  margin-left: 30px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
		
		{% endif %}
		</td>
		<td>
		<input type="button" value="Volver Atrás" name="Back2" onclick="history.back()" style="
		  margin-left: 10px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
		</td>
		</tr>
		</table>
	</div>
	
	<img id="bottom" src="/img/bottom.png" alt=""> 
	
	
</html>
{% endblock %}
