<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />

{% endblock %}

{% block branding %}{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block footer %}{% endblock %}

{% block content %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Untitled Form</title>
<link rel="stylesheet" type="text/css" href="/css/view.css" media="all">

<script>
	function pdfstockcero(opcion){
				
		pdf = 0;
		
		open("/deposito/listado/stockcero/?pdf="+pdf,"_self");	
	
		return false;
	}
		
</script>


</head>
	<div id="form_container">
	
		<h1><a>Salidas</a></h1>
		<form id="form_597362" class="appnitro"  method="post" action="">
		<div class="form_description">
			<h2>Listado Salidas que tienen Stock Cero.</h2>
		
		</div>						
		
		
			
		<table id="result_list">
			<thead>
				<tr>
					<th>Id.Salida</th>
					<th>Fecha</th>
					
					{% if aux == 0 %}
					    <th>Deposito</th>
					{% endif %}
					
					<th>Destino</th>
					<th>Observaciónes</th>
				</tr>
			</thead>
			<tbody>
				{%for salida in listdsalidas%}
					<tr class="{% cycle 'row1' 'row2' %}">
							<td>{{salida.idsalida}}</td>
							<td>{{salida.fecha}}</td>
							{% if aux == 0 %}
							    <td>{{salida.iddeposito}}</td>
							{% endif %}
							<td>{{salida.destino}}</td>
							<td>{{salida.observaciones}}</td>
	 				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		</form>	
		
		<!-- ########################################################################## -->
		<h1><a>Transferencias</a></h1>
		<form id="form_597362" class="appnitro"  method="post" action="">
		<div class="form_description">
			<h2>Listado Transferencias que tuvieron Stock Cero.</h2>
		
		</div>						
		
		
		
		
			
		<table id="result_list2">
			<thead>
				<tr>
					<th>Id.Transferencia</th>
					<th>Fechasalida</th>
					<th>depositosalida</th>
					
				</tr>
			</thead>
			<tbody>
							
				{%for trans in listdtransf%}
					<tr class="{% cycle 'row1' 'row2' %}">
							<td>{{trans.idtransferencia}}</td>
							<td>{{trans.fechasalida}}</td>
							<td>{{trans.depositosalida}}</td>
							
	 				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		
		
		</form>	
	
	<input type="button" value="Volver Atrás" name="Back2" onclick="history.back()" style="
		  margin-left: 10px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
		
	<input id="saveForm" class="button_text" type="submit" name="submit" value="Generar PDF" onclick="javascript:pdfstockcero()" style="
		  margin-left: 30px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />	
	
	</div>
	
	

{% endblock %}
