<!DOCTYPE>
<html>
<head>
	<title>Inicio</title>
<html>
<head>
	{% load static %}

	
	

	<title>Inicio</title>
	

	<link rel="icon" href="{% static 'favicon.png' %}" type="image/png"/>

	<!-- Css de Bootstrap -Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!--CSS de datatables-->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	
	<!-- Importo jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<!--Si el usuario esta registrado,redirecciono a la url de pasajes -->
	{% if user.is_authenticated is True %}
		
		<meta http-equiv="refresh" content="0; url=/pasajes">
		
	{% else %}

	<!--Si el usuario NO esta registrado,muestro el menu principal del proyecto -->
	{% block contenido %}
	
	{% endblock %}

	{% endif %}
</body>
</html>