{% extends "appPersonal/estadisticas/estadisticas_base.html" %}
{% load i18n %}

{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a href="#" class="activo">/ Ausentismo </a>
{% endblock %}
{% block titulo-form %}
		<td><b><font color="#1f618d" style="font-size: 13px;">Estadisticas Ausentismos</font></b></td> 
{% endblock %}



{% block contenido-estadisticas %}

		
		<h5>Ausentismos</h5>
		<p style="color: grey">Seleccione una opcion:</p>
		
		<center>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="{% url 'partediario' %}"><b><i>Parte Diario</i></b></a></li>
			<li><a href="{% url 'ausRepMes' %}"><b><i>Ausentismo Mensual</i></b></a></li>
			<li><a href="{% url 'ausRepDir' %}"><b><i>Ausentismo Anual por Direccion</i></b></a></li>
			<li><a href="{% url 'ausRepCMO' %}"><b><i>Reporte Mensual C.M.O</i></b></a></li>
		</ul>
		</center>
{% endblock %}
