{% extends "appPersonal/graficos.html" %}
{% load static %}
{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a href="{% url 'listado/agentesIndex' %}" class="pagination">/ Agentes </a>
	{% if agente.situacion == 0 %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes dados de baja</a>
		{% elif agente.situacion == 1 %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes inactivos</a>
		{% elif agente.situacion == 2 %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes activos</a>
		{% else %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Todos los agentes</a>	
	{% endif %}
	<a href="{% url 'forms/menuagente' %}?idagente={{agente.idagente}}" class="pagination">/ {{agente.apellido}} {{agente.nombres}} </a><a href="#" class="activo">/ Ausentismo </a>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript"> 
  $(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'Aus',
                type: 'column',
                margin: [ 50, 50, 100, 80]
            },
            title: {
                text: 'Ausentismo del periodo {{anio}}'
            },
            xAxis: {
                categories: [
                    'Enero',
                    'Febrero',
                    'Marzo',
                    'Abril',
                    'Mayo',
                    'Junio',
                    'Julio',
                    'Agosto',
                    'Septiembre',
                    'Octubre',
                    'Noviembre',
                    'Diciembre'
                ],
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad de ausentismos'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        'Ausentismo del periodo : '+ Highcharts.numberFormat(this.y, 1);
                }
            },
                series: [{
                name: 'Cantidad de personal',
                data: [{{ene}},{{feb}},{{mar}},{{abr}},{{may}},{{jun}},{{jul}},{{ago}},
			{{sep}},{{oct}},{{nov}},{{dic}}],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: -3,
                    y: 10,
                    formatter: function() {
                        return this.y;
                    },
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    });
}); 
</script> 
<script type="text/javascript"> 
  $(function () {
	var chart2;
		$(document).ready(function() {
		    chart2 = new Highcharts.Chart({
			chart: {
			    renderTo: 'Arti',
			    plotBackgroundColor: null,
			    plotBorderWidth: null,
			    plotShadow: false
			},
			title: {
			    text: 'Articulos'
			},
			tooltip: {
			    pointFormat: '<b>{point.percentage}%</b>',
			    percentageDecimals: 3 ,
			    formatter: function() {
					return '<b>'+ this.point.name +'</b>';
			    }
			},
			plotOptions: {
			    pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
				    enabled: true,
				    color: '#000000',
				    connectorColor: '#000000',
				    formatter: function() {
					return '<b>'+ this.point.name +'</b>'+':'+Math.round(this.percentage*100)/100+'%';
				    }
				}
			    }
			},
			series: [{
			    type: 'pie',
			    name: 'Articulos',
			    data: [
				  {%for lis in listadoArti%}
					['{{lis.0}}',{{lis.1}}],
				  {%endfor%}
			    ],
			}]
		    });
		});
  });
</script>

	<script type="text/javascript">
	function cargarausent(path){

		open(path,'_self',false);

	  return false;
	}
	</script>
{% endblock %}



{% block titulo-form %}
		<td><b><font color="#1f618d" style="font-size: 13px;">Grafico - Reporte Anual por Direccion</font></b></td> 
{% endblock %}

{% block contenido-graficos %}
	
	<div id="Arti" style="width: 98%; height:70%; margin-left:10px; float:left"></div>
	<div id="Aus" style="width: 85%; height: 50%; margin-left:10px; float:left"></div>
<!-- 	<div align="center"><embed src="http://sindisplay.com/creadores/letreros/show.swf?baseURL=http://sindisplay.com/creadores/letreros/&clickURL=http://www.sindisplay.com/creadores/letreros/&clickLABEL=Crear letrero en flash&type=0&delaySpeed=80&transID=0&str=Trabajar_nunca_mato_a_nadie,_pero_para_que_arriesgarse&bgColor=0&symbolX=9&w=7&h=7&pointType=point&glowColor=16777215&designNum=4" quality="high" bgcolor="#ffffff" width="431" height="63" name="show" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /><br><small></small></div> -->
	<a href="{% url 'forms/abmausentismo' %}?idausent=0&idagente={{idagen}}" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> <b>Cargar ausentismo</b></a>
	<br><br>
	<table class="table table-striped">
		{%for a in l%}
		    {{a.fechadesde}}
		{%endfor%}
		<thead style="color:  #d35400 ">
		      <th>Total 55</th>
		      <th>Mensual 55</th>
		      <th>Total 10-2</th>
		      <th>Total 10-1</th>
		      <th>Total 18</th>
		</thead>
		<tbody style="font-weight: bold">
		      <tr>
				<td>{{tot55}}</td>
				<td>{{men55}}</td>
				<td>{{tot102}}</td>
				<td>{{tot101}}</td>
				<td>{{tot18}}</td>
				<td></td>
		      </tr>
		</tbody>
		<tr>
			<td><h5 style="color:  #2471a3;display: inline-block;"><b>Articulos tomados</b></h5>
				<a title="Generar PDF" href="{% url 'PDFausentismo' %}?idagente={{agente.pk}}" target="_blank" class="btn btn-danger" style="display: inline-block;"><img src="{% static 'appPersonal/images/4.png' %}" style="width: 27px;height: 35px;"></a>
				<a title="Generar Excel" href="{% url 'ausentismoExcel' %}?idagente={{agente.pk}}" class="btn btn-success" style="display: inline-block;"><img src="{% static 'appPersonal/images/2.png' %}" style="width: 27px;height: 35px;"></a>
			</td>
		</tr>
		<thead style="font-weight: bold;background-color:  #abebc6 ">
		      <th style="color:  #239b56  " >Fecha Inicio</th>
		      <th style="color:  #239b56  ">Fecha Fin</th>
		      <th style="color:  #239b56  ">Cant Dias</th>
		      <th style="color:  #239b56  ">Artículo</th>
		      <th style="color:  #239b56  ">Art. 10-2 / Acc. T.</th>
		      {% if "Ausentismo" in grupos or user.username == "admin" %}
			      <th></th>
		      {% endif %}
		</thead>
		<tbody style="font-weight: bold">
		      {%for li in aus%}
		      <tr class="{% cycle 'row1' 'row2' %}">
				<td>{{li.fechainicio}}</td>
				<td>{{li.fechafin}}</td>
				<td>{{li.cantdias}}</td>
				<td><a {% if li.idarticulo.pk != 999%}href="{% url 'forms/abmausentismo' %}?idausent={{li.idausent}}&idagente={{li.idagente_id}}"{% endif %}>{{li.idarticulo}}</a></td>
				{% if "18" in li.idarticulo.descripcion  or "10-1" in li.idarticulo.descripcion or "10-2" in li.idarticulo.descripcion %}
					<td><a href="{% url 'listado/listadoxagente/medica' %}?idagente={{li.idagente_id}}&idausent={{li.idausent}}&borrado=-1" style="color:   #f39c12  "> Actualizar</a></td>
				{% else %}
				{% if "11-1" in li.idarticulo.descripcion%}
					<td><a href="/personal/listado/listadoxagente/adtxagente/{{li.idagente_id}}/-1/" style="color: #f39c12 "> Actualizar</a></td>
				{% else %}
					<td></td>
				{% endif %}
				
				{% endif %}
				{% if  "Ausentismo" in grupos or user.username == "admin"  and li.idarticulo.pk != 999%}
					<td><a href="{% url 'eliminarAusent' %}?idagente={{li.idagente_id}}&idausent={{li.idausent}}" onclick="return confirm('¿Desea elimina el ausentismo del dia {{li.fechainicio}}?')" style="color:  #cb4335 ">Eliminar</a><span class="glyphicon glyphicon-search"></span></td>
				{% else %}
					<td></td>
				{% endif %}
		      </tr>
		      {%endfor%}
		</tbody>

	</table>
	

{% endblock %}