{% extends "appPersonal/listado/listado_base.html" %}
{% load i18n %}

{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a href="{% url 'listado/agentesIndex' %}" class="pagination">/ Agentes </a><a href="{% url 'listado/agentes'%}?opc=2&busc=" class="pagination">/ Listado agentes</a><a href="{% url 'forms/menuagente' %}?idagente={{agente.idagente}}" class="pagination">/ {{agente.apellido}} {{agente.nombres}} </a><a href="#" class="activo">/ Accidentes de trabajo </a>
{% endblock %}
{% block titulo-form %}
	<p style="font-size: 16px;">Listado Accidentes de Trabajo de <strong>{{agente.apellido}}, {{agente.nombres}}</strong><p>
{% endblock %}

{% block botonnuevo %}{%endblock%}

{% block main-list %}

	<div class="results">
		<table class="table table-striped">
				<thead>
				<tr>
					<th>Número de Expediente</th>
					<th>Fecha</th>
					<th>Lesión</th>
					<th>Observaciones</th>
					<th>Certificados</th>
				</tr>
			</thead>
			<tbody>
				{%for list in lista%}
					<tr class="{% cycle 'row1' 'row2' %}">
							<td><a href= "{% url 'forms/abmaccdetrabajo' %}?idadt={{list.idaccidente}}&idagen={{list.idagente_id}}">{{list.nroexpediente}}</a> </td>
							<td>{{list.fecha}}</td>
							<td>{{list.detallelesion}}</td>
							<td>{{list.observaciones}}</td>
							<td><a href= "{% url 'listado/listadoxaccdt/certificadoxaccdt' %}?idacc={{list.idaccidente}}&idagen={{list.idagente_id}}&borrado=-1">Ver</a> </td>
							{%if "Eliminar" in grupos or user.username == "admin"%}
							<td><a href="#" onclick="Eliminar('/personal/listado/listadoxagente/adtxagente/{{list.idagente_id}}/{{list.idaccidente}}/');">Eliminar</a>
							{% endif %}
							
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}