{% extends "appPersonal/listado/listado_base.html" %}
{% load i18n %}
{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a href="{% url 'listado/agentesIndex' %}" class="pagination">/ Agentes </a>
	{% if agente.situacion == 0 %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes dados de baja</a>
		{% elif agente.situacion == 1 %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes inactivos</a>
		{% elif agente.situacion == 2 %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes activos</a>
		{% else %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Todos los agentes</a>	
	{% endif %}
	<a href="{% url 'forms/menuagente' %}?idagente={{agente.idagente}}" class="pagination">/ {{agente.apellido}} {{agente.nombres}} </a><a href="#" class="activo">/ Estudios cursados </a>
{% endblock %}

		{% block titulo-form %}
		    <p style="font-size: 16px;">Listado Estudios Cursados <strong>{{agente.apellido}}, {{agente.nombres}}</strong><p>
		{% endblock %}

		{% block botonnuevo %}
			<a href="{% url 'forms/abmestudioscursados' %}?idestcur=0&idagen={{idagente}}" class="btn btn-success">Nuevo</a>
		{%endblock%}
		
		{% block titulo %}{% endblock%}
		
		{% block main-list %}
		
		<div class="results">

			<table class="table table-striped">
					<thead>
					<tr>
						<th>Agente</th>
						<th>Ciclo</th>
						<th>Establecimiento</th>
						<th>Título</th>
						<th>Duración</th>
						<th>Observaciones</th>
					</tr>
				</thead>
				<tbody>
					{%for list in lista%}
						<tr class="{% cycle 'row1' 'row2' %}">
								<td><a href= "{% url 'forms/abmestudioscursados' %}?idestcur={{list.idestcur}}&idagen={{list.idagente_id}}">{{list.idagente}}</a></td>
								<td>{{list.ciclo}}</td>
								<td>{{list.establecimiento}}</td>
								<td>{{list.titulo}}</td>
								<td>{{list.duracion}}</td>
								<td>{{list.observaciones}}</td>
								{%if "Eliminar" in grupos or user.username == "admin"%}
								<td><a href="#" onclick="Eliminar('/personal/listado/listadoxagente/estudioscursados/{{idagente}}/{{list.idestcur}}/');">Eliminar</a></td>
								{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endblock %}