{% extends "personal/listado/listado_base.html" %}
{% load i18n %}

{% block extrahead %}  
<script type="text/javascript">
function Eliminar(a,b) {

    if(confirm("¿Desea eliminar?")) {

        document.location.href= '/personal/listado/listadoxagente/facxagente?idagente='+a+'&borrado='+b ;

    }

}
</script> 
{% endblock %} 

{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial '%}
{% endblock%}

		{% block titulo-form %}
		    <p style="font-size: 16px;">Listado Familiares a Cargo de <strong>{{agente.apellido}}, {{agente.nombres}}</strong><p>
		{% endblock %}

		{% block botonnuevo %}
			<input id="saveForm" class="button_text" type="submit" name="submit" value="Nuevo" style="margin-rigth: 740px;" onclick="return Open('/personal/forms/abmfamiliaresac?idfac=0&idagente={{idagente}}');" />
		{%endblock%}
		
		{% block main-list %}
		
		<div class="results">
			<table class="table table-striped">
					<thead>
					<tr>
						<th>Nombre y Apellido</th>
						<th>Paga Salario</th>
						<th>Número Documento</th>
						<th>Sexo</th>
						<th>Vínculo</th>
						<th>Fecha de Nacimiento</th>
						<th>Discapacidad</th>
						<th>Escolaridad</th>
					</tr>
				</thead>
				<tbody>
					{%for list in lista%}
						<tr class="{% cycle 'row1' 'row2' %}">
								<td><a href= "/personal/forms/abmfamiliaresac?idfac={{list.idasigfam}}&idagente={{list.idagente_id}}">{{list.apellidoynombre}}</a> </td>
								{% if list.pagasalario %}
									<td><img src='/site_media/personal/img/icon/orig/icon-yes.gif'></img></td>
								{% else %}
									<td><img src='/site_media/personal/img/icon/orig/icon-no.gif'></img></td>
								{% endif %}
								<td>{{list.nrodocumento}}</td>
								<td>{{list.sexo}}</td>
								<td>{{list.vinculo}}</td>
								<td>{{list.fechanacimiento}}</td>
								<td>{{list.discapacidad}}</td>
								<td><a href= "/personal/listado/listadoxaf/escolaridadxaf?idfac={{list.idasigfam}}&borrado=-1">Ver</a></td>
								{%if "Eliminar" in grupos or user.username = "admin"%}
								<td><a href="#" onclick="Eliminar({{idagente}},{{list.idasigfam}});">Eliminar</a></td>
								{% endif %}
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
		{% endblock %}
		<br/>
