{% extends "personal/listado/listado_base.html" %}
{% load i18n %}

{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial '%}
{% endblock%}
		
		
		{% block titulo-form %}
			<p style="font-size: 16px;">Listado Salidas de <strong>{{agente.apellido}}, {{agente.nombres}}</strong><p>
		{% endblock %}

		{% block botonnuevo %}
			<input id="saveForm" class="button_text" type="submit" name="submit" value="Nuevo" style="margin-rigth: 740px;" onclick="return Open('/personal/forms/abmsalida?idsalida=0&idagente={{idagente}}');" />
		{%endblock%}
		
		{% block titulo %}
		{% endblock%}
		
		{% block main-list %}
		
		<div class="results">
			<table class="table table-striped">
					<thead>
					<tr>
						<th>Fecha</th>
						<th>Observaciones</th>
						<th>Hora de Salida</th>
						<th>Hora de Regreso</th>
						<th>Oficial</th>
					</tr>
				</thead>
				<tbody>
					{%for list in lista%}
						<tr class="{% cycle 'row1' 'row2' %}">
								<td><a href= "/personal/forms/abmsalida?idsalida={{list.idsalida}}&idagente={{list.idagente_id}}">{{list.fecha}}</a> </td>
								<td>{{list.observaciones}}</td>
								<td>{{list.horasalida}}</td>
								<td>{{list.horaregreso}}</td>
								<td>
								    {%if list.oficial%}
									<img src='/site_media/personal/img/icons/tick.png' ></img>
								    {%else%}
									<img src='/site_media/personal/img/icons/cross.png'></img>
								    {%endif%}
								</td>
								{%if "Eliminar" in grupos or user.username = "admin"%}
								<td><a href="#" onclick="Eliminar('/personal/listado/listadoxagente/salidaxagente?idagente={{idagente}}&borrado={{list.idsalida}}');">Eliminar</a></td>
								{% endif %}
						</tr>
					{% endfor %}	
				</tbody>
			</table>
		</div>
		{% endblock %}
		<br/>