{% extends "personal/listado/listado_base.html" %}
{% load i18n %}

{% block titulo-form %}
	<p style="font-size: 16px;">Listado Seguro de <strong>{{agente.apellido}}, {{agente.nombres}}</strong><p>
{% endblock %}

{% block botonnuevo %}
	<input id="saveForm" class="button_text" type="submit" name="submit" value="Nuevo" style="margin-rigth: 740px;" onclick="return Open('/personal/forms/abmseguro/0/{{idagente}}/');" />
{%endblock%}

{% block titulo %} {%endblock%}

{% block main-list %}

      <div class="results">
		<table class="table table-striped">
				<thead>
				<tr>
					<th>Agente</th>
					<th>Nº Poliza</th>
					<th>Observ</th>
					<th>Obligatorio</th>
					<th>Colectivo flia</th>
					<th>Adicional</th>
					<th>Adicional x co</th>
				</tr>
			</thead>
			<tbody>
				{%for list in lista%}
					<tr class="{% cycle 'row1' 'row2' %}">
						<td><a href= "/personal/forms/abmseguro/{{list.idseguro}}/{{list.idagente.idagente}}/">{{list.idagente}}</a></td>
						<td>{{list.nropoliza}}</td>
						<td>{{list.observaciones}}</td>
						<td>
						    {%if list.obligatorio%}
							<img src='/site_media/personal/img/icons/tick.png' ></img>
						    {%else%}
							<img src='/site_media/personal/img/icons/cross.png'></img>
						    {%endif%}
						</td>
						<td>
						    {%if list.colectivoflia%}
							<img src='/site_media/personal/img/icons/tick.png' ></img>
						    {%else%}
							<img src='/site_media/personal/img/icons/cross.png'></img>
						    {%endif%}
						</td>
						<td>
						    {%if list.adicional%}
							<img src='/site_media/personal/img/icons/tick.png' ></img>
						    {%else%}
							<img src='/site_media/personal/img/icons/cross.png'></img>
						    {%endif%}
						</td>
						<td>
						    {%if list.adicionalxco%}
							<img src='/site_media/personal/img/icons/tick.png' ></img>
						    {%else%}
							<img src='/site_media/personal/img/icons/cross.png'></img>
						    {%endif%}
						</td>
						{%if "Eliminar" in grupos or user.username = "admin"%}
						<td><a href="#" onclick="Eliminar('/personal/listado/listadoxagente/seguro/{{list.idagente_id}}/{{list.idseguro}}/');">Eliminar</a></td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
      </div>
{% endblock %}