{% extends "appPersonal/listado/listado_base.html" %}


{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a href="{% url 'listado/agentesIndex' %}" class="pagination">/ Agentes </a>
	{% if agente.situacion == 0 %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes dados de baja</a>
		{% elif agente.situacion == 1 %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes inactivos</a>
		{% elif agente.situacion == 2 %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes activos</a>
		{% else %}
			<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Todos los agentes</a>	
	{% endif %}
	<a href="{% url 'forms/menuagente' %}?idagente={{agente.idagente}}" class="pagination">/ {{agente.apellido}} {{agente.nombres}} </a>
	<a href="{% url 'vacas' %}?idagente={{agente.idagente}}" class="pagination">/ Licencias </a>
	<a href="#" class="activo">/ Detalles </a>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}/site_media/personal/css/base2.css{% endblock %}" />
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/site_media/personal/css/dashboard.css" />{% endblock %}

	{% block botonnuevo %}{% endblock %}
	{% block botonatrasaction %}"return Open('/personal/vacas?idagente={{idagente}}'); " {% endblock %}
	{% block path %}
	
	{% endblock%}
	{% block main-list %}
		<div class="results">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Año</th>
						<th>Tipo</th>
						<th>Fecha Desde</th>
						<th>Fecha Hasta</th>
						<th>Cantidad de dias</th>
					</tr>
				</thead>
				<tbody>
					{%for list in lista%}
						<tr class="{% cycle 'row1' 'row2' %}">
							<td><a href="{% url 'forms/abmlicanual' %}?idlicanual={{list.idlicanual}}&idagen={{list.idagente_id}}&anio={{list.anio}}"><b>{{list.anio}}</b></a></td>
							<td>{{list.tipo}}</td>
							<td style="color: green">{{list.fechadesde|date:"d/m/Y"}}</td>
							<td style="color: #FE9A2E">{{list.idausent.fechafin|date:"d/m/Y"}}</td>
							<td>{{list.cantdias}}</td>
							{%if "Eliminar" in grupos or user.username == "admin"%}
							<td><a style="color: #FE2E2E" href="{% url 'eliminarLicencia' %}?idagente={{list.idagente_id}}&idlicanual={{list.idlicanual}}" ><b>Eliminar</b></a></td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endblock %}
	</br>