<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/naranja.css"/>
</head>
<body>
        <h1><img src='/admin/img/logo-avp.png' width="180" height="90" align="middle"/>      Administracion de Vialidad Provincial.</h1>
        <!-- <h2>Reporte de Ausentismo Fecha: {{fecha}}</h2> -->
	<h2>Reporte de Transferencia</h2>
        
        <table border=0,1>
	    <tr>
		<th scope="col" style="padding-top: 2px;">Id Transferencia</th>
		<th scope="col" style="padding-top: 2px;">Fecha Salida</th>
		<th scope="col" style="padding-top: 2px;">Fecha Entrada</th>
		<th scope="col" style="padding-top: 2px;">Deposito Salida</th>
		<th scope="col" style="padding-top: 2px;">Confirmado</th>
		<th scope="col" style="padding-top: 2px;">Deposito Entrada</th>
	    </tr>
	    <tr>
		<td align="center" style="padding-top: 2px;">{{objtransferencia.idtransferencia}}</td>
		<td align="center" style="padding-top: 2px;">{{objtransferencia.fechasalida}}</td>
		<td align="center" style="padding-top: 2px;">{{objtransferencia.fechaentrada}}</td>
		<td align="center" style="padding-top: 2px;">{{objtransferencia.depositosalida}}</td>
		{% if objtransferencia.confirmado %}
                       <td align="center" style="padding-top: 2px;"> Si</td>
                {% else %}
                       <td align="center" style="padding-top: 2px;"> No</td>
                {% endif %}
                <td align="center" style="padding-top: 2px;">{{objtransferencia.depositoentrada}}</td>
	    </tr>
	</table>
        <table border=0,1>
                
                <h2>Lista Articulos</h2>
		
                <thead>
                        <tr>
                                <th align="center" style="padding-top: 2px;">Articulo</th>
                                <th align="center" style="padding-top: 2px;">Cantidad</th>
                                <th align="center" style="padding-top: 2px;">Cantidad Confirmada</th>
                                <th align="center" style="padding-top: 2px;">Confirmado</th>
				<th align="center" style="padding-top: 2px;">Error</th>
				<th align="center" style="padding-top: 2px;">Detalle Error</th> 
	                </tr>
                </thead>
                <tbody>
                        {% for art in dettransferencia%}
                        <tr class="{% cycle 'row0' 'row1' %}">
                                
                                <td align="center" style="padding-top: 2px;"> {{art.idarticulo}}</td>
                                <td align="center" style="padding-top: 2px;"> {{art.cantidad}}</td>
				<td align="center" style="padding-top: 2px;"> {{art.cantidadconfirmada}}</td>
				{% if art.confirmado %}
                                        <td align="center" style="padding-top: 2px;"> Si</td>
                                {% else %}
                                        <td align="center" style="padding-top: 2px;"> No</td>
                                {% endif %}
				{% if art.err %}
                                        <td align="center" style="padding-top: 2px;"> No</td>
                                {% else %}
                                        <td align="center" style="padding-top: 2px;"> Si</td>
                                {% endif %}
				<td align="center" style="padding-top: 2px;"> {{art.deterr}}</td>
                        </tr>
                        {%endfor%}

                </tbody>
        </table>
        Pagina: <pdf:pagenumber>

</body>
</html>

