 {% extends "appPersonal/estadisticas/estadisticas_base.html" %}
{% load i18n %}
{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a class="activo" href="#">/ Cantidad agrupamiento </a>
{% endblock %}

{% block branding %}

{% endblock %}
        
{% block breadcrumbs %}
 {% endblock %}
            
{% block nav-global %}

{% endblock %}


{% block titulo-form %}
		<td><b><font color="#1f618d" style="font-size: 13px;">Estadisticas Ausentismos - Reporte Mensual</font></b></td> 
{% endblock %}


{% block contenido-estadisticas %}

<script>

	function reporteAgrup(){
		agrup = document.getElementById('agrup').value ;
		open("{% url 'cantagrup' %}?agrup="+agrup,"_self");
		return false;
	}
	
</script>

		<h5 style="color: #1f618d">Reporte cantidad agentes por agrupamiento</h5></br>
		<form method="post" enctype="text/plain">
		      Agrupamiento
		      <select id='agrup'>
				{%for a in agrup%}
					<option value={{a.idagrupamiento}}> {{a.descripcion}}</option>
				{%endfor%}
		      </select>
		      </br>
		      <input class="btn btn-info" type="button" name="filtrar" value="Filtrar" Onclick="return reporteAgrup()">
		</form>

{% endblock %}
