{% load i18n %}
<script src="/admin/js/funciones.js" type="text/javascript"></script>

<script>
		
	function botonatras(){
	
	  //var pathArray = window.location.pathname.split( '/' );
	  //var secondLevelLocation = pathArray[0];
	  
	  var url = document.location.href; 
	  partes = url.split('/');
	  
	  p1=partes[partes.length-2];	//numero compra
	  p2=partes[partes.length-3];
	  p3=partes[partes.length-4];
	  p4=partes[partes.length-5];
	  p5=partes[partes.length-6];
	  
	  url= "/"+p4+"/"+p3+"/"+p2;
		      
	  open(url,"_self");
	
	  //history.back()
	}

</script>


<div class="submit-row">
<!--
{% if show_save %}
    <input type="submit" value="{% trans 'Guardar' %}" class="default" name="_save" {{ onclick_attrib }}/>
{% endif %}
-->
{% if show_delete_link %}<p class="deletelink-box"><a href="delete/" class="deletelink">{% trans "Delete" %}</a></p>{% endif %}
<!--
{% if show_save_as_new %}<input type="submit" value="{% trans 'Guardar como nuevo' %}" name="_saveasnew" {{ onclick_attrib }}/>{%endif%}
-->
<!--
{% if show_save_and_add_another %}<input type="submit" value="{% trans 'Guardar y agregar otro' %}" name="_addanother" {{ onclick_attrib }} />{% endif %}
-->
{% if show_save_and_continue %}
<input type="submit" value="{% trans 'Guardar' %}" class="default" name="_continue" {{ onclick_attrib }}/>
<input type="button" value="Generar PDF" onclick="return generarPdf()"/>
<input type="button" value="Imprimir" onclick="return imprimir()" />
<input type="button" class="default" value="Atras" style="margin-rigth: 740px;background:gray;width:48px;" onclick="javascript:botonatras()">

{% endif %}

</div>
