{% extends "appPersonal/estadisticas/estadisticas_base.html" %}


{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a href="#" class="activo">/ Ausentismo </a>
{% endblock %}
{% block titulo-form %}
		<td><b><font color="#1f618d" style="font-size: 13px;">Estadisticas Ausentismos</font></b></td> 
{% endblock %}

{% block contenido-estadisticas %}
		<p style="color: grey">Seleccione una opcion:</p>
		<center>
		<ul class="nav nav-tabs nav-stacked">
			<li><a href="{% url 'partediario' %}"><strong>Parte Diario</strong></a></li>
			<li><a href="{% url 'ausRepMes' %}"><strong>Ausentismo Mensual</strong></a></li>
			<li><a href="{% url 'ausRepDir' %}"><strong>Ausentismo Anual por Direccion</strong></a></li>
			<li><a href="{% url 'ausRepCMO' %}"><strong>Reporte Mensual C.M.O</strong></a></li>
			<li><a href="{% url 'ausRepLicGrem' %}"><strong>Reporte Mensual Lic. Gremial</strong></a></li>
		</ul>
		</center>
{% endblock %}
