{% extends "personal/estadisticas/estadisticas_base.html" %}
{% load i18n %}

{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial '%}
	
{% endblock%}

{% block titulo-form %}
		<td><b><font color="#000000" style="font-size: 13px;">Estadisticas Ausentismos - Reporte Mensual</font></b></td> 
{% endblock %}


{% block contenido-estadisticas %}


<script>

	function generarExcel(){
			
		anio = document.getElementById("anio").value;
							
		mes = document.getElementById("mes").value;
										
		open("/personal/reportes/ausRepMensualCMO_excel/?anio="+anio+"&mes="+mes,"_self");	
		
		return false;
	}
	
</script>
		<h5>Ausentismos - Reporte C.M.O Mensual</h5></br>
		<form method="post" enctype="text/plain">
		      Periodo (ejemplo 2013) <input type="text" id="anio" name="anio" maxlength=4 size=2 ></br>
		      Mes (ejemplo 08) <input type="text" id="mes" name="mes" maxlength=2 size=2 >
		      </br>
		      </br>
		      
		    <!--  <input type="button" id='btnConsulta' value="Consulta" onclick="return reporteMensualCMO()"/> -->
		     <input type="button" style="margin-left:10px;" value="Generar Excel" onclick="javascript:generarExcel()"/> 
		</form>

{% endblock %}
