{% extends "appPersonal/estadisticas/estadisticas_base.html" %}
{% load i18n %}

{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a class="pagination" href="{% url 'ausent' %}">/ Ausentismo </a><a href="#" class="activo">/ Reporte mensual C.M.O </a>
{% endblock %}

{% block titulo-form %}
		<td><b><font color="#1f618d" style="font-size: 13px;">Estadisticas Ausentismos - Reporte Mensual</font></b></td> 
{% endblock %}


{% block contenido-estadisticas %}


<script>

	function generarExcel(){
			
		anio = document.getElementById("anio").value;
							
		mes = document.getElementById("mes").value;
										
		open("{% url 'reportes/ausRepMensualCMO_excel' %}?anio="+anio+"&mes="+mes,"_self");	
		
		return false;
	}
	
</script>
		<h5 style="color: #1f618d">Ausentismos - Reporte C.M.O Mensual</h5></br>
		<form method="post" enctype="text/plain">
		      Periodo (ejemplo 2013) <input type="text" id="anio" name="anio" maxlength=4 size=2 ></br>
		      Mes (ejemplo 08) <input type="text" id="mes" name="mes" maxlength=2 size=2 >
		      </br>
		      </br>
		      
		    <!--  <input type="button" id='btnConsulta' value="Consulta" onclick="return reporteMensualCMO()"/> -->
		     <input type="button" class="btn btn-success" style="margin-left:10px;" value="Generar Excel" onclick="javascript:generarExcel()"/> 
		</form>

{% endblock %}
