{% extends "appPersonal/estadisticas/estadisticas_base.html" %}
{% load i18n %}
{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial '%}
	
{% endblock%}

{% block titulo-form %}
		<td><b><font color="#000000" style="font-size: 13px;">Estadisticas Ausentismos - Reporte Anual</font></b></td> 
{% endblock %}


{% block contenido-estadisticas %}

		<h5>Ausentismos - Reporte Anual</h5>
		<form method="post" enctype="text/plain">
		      Periodo (ejemplo 2000) <input type="text" id="anio" name="anio" maxlength=4 size=2 >
		      <input type="button" id='btnConsulta' value="Consulta" onclick="return reporteAnual()"/>
		</form>

{% endblock %}
