{% extends "personal/plantilla_base.html" %}
{% load i18n %}



{% block extrahead %}
<script type="text/javascript" src="/site_media/personal/js/jquery2.js" ></script>
<script type="text/javascript" src="/site_media/personal/js/highcharts.js"></script> 
<script type="text/javascript" src="/site_media/personal/js/modules/exporting.js"></script> 
{% endblock %}

{% block content %}
<div id="content-main" >
	
	<div id="form_container">
	
		<!--<form id="form_544015" class="appnitro"  method="post" action=""> -->
		
		<table width="105%" border="0" cellspacing="0" cellpadding="1"> 
			<tr bgcolor="#FFC200" align="center" style="border-bottom: 1px solid #eee;"> 
			
			{% block titulo-form %}
			
			{% endblock %}
			
			</tr> 
			<tr bgcolor="#FFC200"> 
			<td> 
				<table width="100%" border="0" cellspacing="0" cellpadding="4"> 
					<tr bgcolor="#FFFFFF"> 
						<td>
						      <fieldset>
								{% block contenido-graficos %}
								{% endblock %}
						      </fieldset>
						</td> 
					</tr> 
				</table> 
			</td> 
			</tr> 
		</table> 
		
		
	</div>
	
	</div>
	
{% endblock %}