{% extends "appPersonal/plantilla_base.html" %}
{% load static %}

{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal</a>
{% endblock %}

{% block content %}

<div id="content-main">
	<div id="form_container">
		<form id="form_544015" class="appnitro"  method="post" action="">
		    <table class="table" width="105%" border="0" cellspacing="0" cellpadding="1"> 
			
				    <td> 
					  <table width="100%" border="0" cellspacing="0" cellpadding="4"> 
					      <tr bgcolor="#FFFFFF"> 
						    <td>
							  <fieldset>
							  {% block contenido-estadisticas %}
							  <div align="center" style="height: 25px;">
								  <h4 style="font-size:32px; text-align:center;">Sistema de Personal </h4>
							  </div>
							  
							  <div align="center">
								<img src="{% static 'appPersonal/img/logo-inicio.jpg' %}" width=140px height=152px></img><br></br>
								<hr>
									<!--<a href="{% url 'partediario' %}"><img src="{% static 'appPersonal/img/icon/black/PngFiles/Chart.png' %}" width=40px height=40px alt="parte diario" title="Parte diario"></img></a>-->
									<a href="{% url 'partediario' %}"><img src="{% static 'appPersonal/img/icon/analyze.png' %}" width=40px height=40px alt="parte diario" title="Parte diario"></img></a>
									<!--<a href="{% url 'listado/agentes' %}?opc=2&busc='' "><img src="{% static 'appPersonal/img/icon/black/PngFiles/Machine.png' %}" width=40px height=40px alt="agentes" title="Agentes"></img></a>-->
									<a href="{% url 'listado/agentes' %}?opc=2&busc='' "><img src="{% static 'appPersonal/img/icon/queue.png' %}" width=40px height=40px alt="agentes" title="Agentes"></img></a>
									<!--<a href="{% url 'cargaausent' %}"><img src="{% static 'appPersonal/img/icon/black/PngFiles/Stock.png' %}" width=40px height=40px alt="licencias" title="Licencias"></img></a>-->
									<a href="{% url 'listado/agentes$?opc=2&busc=' %}"><img src="{% static 'appPersonal/img/icon/traveler.png' %}" width=40px height=40px alt="licencias" title="Licencias"></img></a>
							  </div>
							  <hr>
							  
							  <h2 style="color:  #117a65 ">{{inicio.titulo}}</h2>
							  
							  <p><b>{{inicio.mensaje|linebreaksbr}}</b></p>

							  {% endblock %}
							  
							  
							  </fieldset>	

							  <div id="footer">
							  </div>
						    </td>
					      </tr>
					  </table> 
				    </td>
				 </tr>   
			    </tr> 
			</tr> 
		    </table> 
		</form>	
	</div>
</div>
{% endblock %}