{% extends "appPersonal/plantilla_base.html" %}

{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination"><b>Personal</b> </a><a href="{% url 'listado/agentesIndex' %}" class="pagination">/ Agentes </a>
	
	{% if agente.situacion == 0 %}
		<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes dados de baja</a>
	{% elif agente.situacion == 1 %}
		<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes inactivos</a>
	{% elif agente.situacion == 2 %}
		<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Agentes activos</a>
	{% else %}
		<a href="{% url 'listado/agentes'%}?opc={{agente.situacion}}&busc=" class="pagination">/ Todos los agentes</a>	
	{% endif %}

	<a href="#" class="activo">/ {{agente.apellido}} {{agente.nombres}}</a>
	
{% endblock %}

{% block content %}

	

<div id="content-main" >
	
	<div id="form_container">
	
		<form id="form_544015" class="appnitro"  method="post" action="">
		
		<table width="105%" border="0" cellspacing="0" cellpadding="1"> 
		<tr  align="center" style="border-bottom: 1px solid #eee;"> 
		
		{% block titulo-form %}
		<td><b><font  style="font-size: 14px;color:  #1f618d ">Menu Agente</font></b></td> 
		{% endblock %}
		
		</tr> 
		<tr> 
		<td> 
		<table width="100%" border="0" cellspacing="0" cellpadding="4"> 
		<tr bgcolor="#FFFFFF"> 
		<td>
		

		<fieldset>
		
				
		{% block contenido-menuagente %}
		
		
		<h4 style="color:#1f618d;font-family: 'Homer Simpson', cursive;"> {{agente.apellido}}, {{agente.nombres}}   </h4>
		
		
		<center>
		

		<ul class="nav nav-tabs nav-stacked">  
		
		<li class="nivel1"><a href="{% url 'forms/agente' %}?idagente={{idagente}}&opcion={{agente.situacion}}" class="nivel1"><b>Modificar datos personales</b></a></li>
		<li class="nivel1"><a href="{% url 'listado/listadoxagente/facxagente' %}?idagente={{idagente}}&borrado=-1"><b>Familiares a Cargo</b></a></li>
		{%if "Datos Agente" not in grupos%}
			<li><a href="{% url 'detalle/detallexagente/ausentismo' %}?idagente={{idagente}}&borrado=-1"><b>Ausentismo</b></a></li>
			<li><a href="{% url 'listado/listadoxagente/salidaxagente' %}?idagente={{idagente}}&borrado=-1"><b>Salidas</b></a></li>
			<li><a href="{% url 'vacas' %}?idagente={{idagente}}" class="nivel1"><b>Licencia Anual Agente</b></a></li>
			<li><a href="{% url 'listado/listadoxagente/medica' %}?idagente={{idagente}}&borrado=-1" class="nivel1"><b>Medica</b></a></li>
			<li><a href="{% url 'listado/listadoxagente/adtxagente' %}?idagente={{idagente}}&borrado=-1"><b>Accidente de Trabajo</b></a></li>
			<li><a href="{% url 'listado/listadoxagente/sancionxagente' %}?idagente={{idagente}}&borrado=-1"><b>Sanciones</b></a></li>
<!-- 			<li><a href="/personal/forms/abmadscriptos/0/{{idagente}}/">Adscriptos</a></li> -->
			<li><a href="{% url 'listado/listadoxagente/traslado' %}?idagente={{idagente}}&borrado=-1"><b>Traslado</b></a></li>
<!-- 			<li><a href="/personal/listado/listadoxagente/seguro/{{idagente}}/-1/">Seguro</a></li> -->
			<li><a href="{% url 'listado/listadoxagente/servprest' %}?idagente={{idagente}}&borrado=-1"><b>Servicios prestados</b></a></li>
			<li><a href="{% url 'listado/listadoxagente/estudioscursados' %}?idagente={{idagente}}&borrado=-1"><b>Estudios cursados</b></a></li>
			<li><a href="{% url 'licanualacum' %}?idagente={{idagente}}"><b>Licencias acumuladas</b></a></li>
		{%endif%}
		
		</ul>  
		
		</center>
		
		{% endblock %}
		
		</fieldset>	
		
		</form>	
		<div id="footer">
		</div>

		</td> 
		</tr> 
		</table> 
		</td> 
		</tr> 
		</table> 
		
		
	</div>
	
	</div>
	
{% endblock %}


