{% extends "appPersonal/estadisticas/estadisticas_base.html" %}
{% load i18n %}



{% block titulo-form %}
		<td><b><font color="#000000" style="font-size: 13px;">Estadisticas Ausentismos -Parte diario</font></b></td> 
{% endblock %}

{% block contenido-estadisticas %}

		<h5>Ausentismos - Parte diario</h5>
		<form method="post" enctype="text/plain">{% csrf_token %}
		      Fecha (Ejemplo 11-06-2000)
		      </br>
		      <input type="text" id="dia" name="dia" maxlength=2 size=2>-
		      <input type="text" id="mes" name="mes" maxlength=2 size=2>-
		      <input type="text" id="anio" name="anio" maxlength=4 size=2></br>
		      
		      <input type="button" class="btn btn-info" value="Consulta" onclick="return reportePartDiario()"/>
		</form>
{% endblock %}