{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link rel="icon" href="{% static 'favicon.png' %}" type="image/png"/>
	<title>
	{% block title %} 
		Administracion de Vialidad Provincial
	{% endblock%}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'appPersonal/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'appPersonal/css/datepicker.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'appPersonal/css/bootstrap-responsive.css' %}"/>

	<style type="text/css">
	  body {
	    padding-top: 60px;
	    padding-bottom: 40px;
	  }
	  .sidebar-nav {
	    padding: 20px 20px;
	  }

	  @media (max-width: 980px) {
	    /* Enable use of floated navbar text */
	    .navbar-text.pull-right {
	      float: none;
	      padding-left: 5px;
	      padding-right: 5px;
	    }
	  }
	</style>
	<!--###############ESTILO PARA PAGINATION#######################-->
	<style type="text/css">
		a.pagination{
			color:  #73c6b6;
			text-decoration: none;
			font-family:"serif";
			font-size: 13px;
			font-weight: bold;
		}
		a.activo{
			color:   #d0d3d4;
			text-decoration: none;
			font-family:"serif";
			font-size: 13px;
			font-weight: bold;
			
		}
		a.pagination:hover {
  			color: #1cc280;
		}

	</style>
	
	<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
	{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static 'personal/admin/css/rtl.css' %}{% endblock %}" />{% endif %}
	<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
	
	<script type="text/javascript" src="{% static 'appPersonal/js/core.js' %}"></script>
	<script type="text/javascript" src="{% static 'appPersonal/js/funciones.js' %}" ></script>
	<script type="text/javascript" src="{% static 'appPersonal/js/forms/view.js' %}"></script>
	<script type="text/javascript" src="{% static 'appPersonal/js/prototype.js' %}" ></script>
	<script type="text/javascript" src="{% static 'appPersonal/js/jquery.js' %}" ></script>
	<script type="text/javascript" src="{% static 'appPersonal/js/bootstrap.js' %}" ></script>
	<script type="text/javascript" src="{% static 'appPersonal/js/bootstrap-datepicker.js' %}" ></script>

	<!-- Importo jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



	<!--
	###########################################################################
	#																		  #
	#						****DATEPICKER**** 								  #
	###########################################################################										
	-->
	<!--Importo script para utilizar "datepicker" funcion de calendario-->
  	 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  	<!--DATEPICKER PARA DIAS HÁBILES -->
	<script>
		
		
		//Funcion que carga los dias feriados desde un array recibido de string's con formato de fecha (%m-%d-%Y)
		function cargaFeriados(date){
			var feriados={{ feriados|safe }}
			var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
			//console.log('Checking (raw): ' + m + '-' + d + '-' + y);
			for (i = 0; i < feriados.length; i++) {
				
				if($.inArray((m+1) + '-' + d + '-' + y,feriados) != -1) {
					//console.log('bad:  ' + (m+1) + '-' + d + '-' + y + ' / ' + feriados[i]);
					return [false,"ui-state-feriado"];
				}
			}
			//console.log('good:  ' + (m+1) + '-' + d + '-' + y);
			return [true,'bg-red'];
		}

		//Funcion que carga los dias feriados y dias tomados desde un array recibido de string's con formato de fecha (%m-%d-%Y)
		function cargaDiasTomadosyFeriados(date){
			//Cargo dias tomados
			var diasTomados={{ diasTomados|safe }}
			var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
			//console.log('Checking (raw): ' + m + '-' + d + '-' + y);
			for (i = 0; i < diasTomados.length; i++) {
				
				if($.inArray((m+1) + '-' + d + '-' + y,diasTomados) != -1) {
					//console.log('bad:  ' + (m+1) + '-' + d + '-' + y + ' / ' + diasTomados[i]);
					return [false,"ui-state-diatomado","Ausentismo"];
				}
			}
			
			//Cargo feriados
			var feriados={{ feriados|safe }}
			var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
			//console.log('Checking (raw): ' + m + '-' + d + '-' + y);
			for (i = 0; i < feriados.length; i++) {
				
				if($.inArray((m+1) + '-' + d + '-' + y,feriados) != -1) {
					//console.log('bad:  ' + (m+1) + '-' + d + '-' + y + ' / ' + feriados[i]);
					return [false,"ui-state-feriado"];
				}
			}
			//console.log('good:  ' + (m+1) + '-' + d + '-' + y);
			return [true,'bg-red'];
		}

		
		//Funcion que carga los fines de semana y feriados en un datepicker
		function cargarFindesyFeriados(date) {
			var noWeekend = jQuery.datepicker.noWeekends(date);
			return noWeekend[0] ? cargaFeriados(date) : noWeekend;
		}

		//Funcion que carga los fines de semana,feriados y dias tomados de un agente a un datepicker
		function cargarFindesyFeriadosyDiasTomados(date){
			var diasYferiados=cargaDiasTomadosyFeriados(date)
			var noWeekend = jQuery.datepicker.noWeekends(date);

			return noWeekend[0] ? diasYferiados : noWeekend;
		}
	
	  	$( function(){
		    $( ".datepickerAdulto" ).datepicker({
		    	dayNamesMin: ['Dom','Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
		    	monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		    	prevText:'<',
		    	nextText:'>',
		    	dateFormat: 'dd/mm/yy',
		    	maxDate:-6570
		    	
		    });
		  });
		
		$( function(){
	    	$( ".datepickerAusentismo" ).datepicker({
		    	beforeShowDay: cargarFindesyFeriadosyDiasTomados,//Deshabilito los fines de semana,feriados y diastomados
		    	dayNamesMin: ['Dom','Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
		    	monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		    	prevText:'<',
		    	nextText:'>',
		    	dateFormat: 'dd/mm/yy',
	    	    	
	    	});
	  });

	</script>
	<!--DATEPICKER PARA FERIADOS -->
	<script >
		$( function(){
		    $( ".datepickerFeriado" ).datepicker({
		    	beforeShowDay: cargaFeriados,
		    	dayNamesMin: ['Dom','Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
		    	monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		    	prevText:'<',
		    	nextText:'>',
		    	dateFormat: 'dd/mm/yy',
		    	
		    });
		  });
	</script>


	<!--Estilo para datepicker-->
		 <style>
			.ui-datepicker {
			  		background: #F5F5F5;
				    width: 216px;
				    height: auto;
				    margin: 5px auto 0;
				    font: 12pt Arial, sans-serif;
				    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
				    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
				    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
				}

				.ui-state-diatomado{
					color:#d37102;
					font-weight: bold;
				}

				.ui-state-feriado{
					color:#d12a27;
					font-weight: bold;
				}

				.ui-state-active{
					color:#1db73b;
					font-weight: bold;
				}

				.ui-datepicker a {
			  		text-decoration: none;
			  		font-weight: bold;
				}

				.ui-datepicker table {
			  		width: 100%;
				}

				.ui-datepicker-week-end{
					font-weight: bold;
					color:#d12a27;
				}

				.ui-datepicker-header {
				  background-color: #6192c1;
				  color: #F5F5F5;
				  font-weight: bold;
				  padding: 1px;
			  
				}
				.ui-datepicker-title {
			  		text-align: center;
				}
				.ui-datepicker-prev, .ui-datepicker-next {
			  		display: inline-block;
			  		padding: 2px;
			  		color: #F5F5F5;
			  
				}
				.ui-datepicker-prev {
				  float: left;
				  background-position: center -30px;
				}
				.ui-datepicker-next {
				  float: right;
				  background-position: center 0px;
				  color: #F5F5F5;
				}

				.ui-datepicker th {
				  text-transform: uppercase;
				  font-size: 8pt;
				  padding: 5px 0;
				  color: #666666;
				  text-shadow: 1px 0px 0px #fff;
				  filter: dropshadow(color=#fff, offx=1, offy=0);
				}

				.ui-datepicker tbody tr {
			  		border-bottom: 1px solid #bbb;
				}
				.ui-datepicker tbody tr:last-child {
			  		border-bottom: 0px;
				}

		</style>

	<!--
	###########################################################################
	#																		  #
	#					***	fin DATEPICKER *** 								  #
	###########################################################################										
	-->

	<script>
		$(function(){
			window.prettyPrint && prettyPrint();
			$('#dp1').datepicker();
			$('#dp2').datepicker();
			$('#dp3').datepicker();
			$('#dp3').datepicker();
			$('#dpYears').datepicker();
			$('#dpMonths').datepicker();
			
			
			var startDate = new Date(2012,1,20);
			var endDate = new Date(2012,1,25);
			$('#dp4').datepicker()
				.on('changeDate', function(ev){
					if (ev.date.valueOf() > endDate.valueOf()){
						$('#alert').show().find('strong').text('The start date can not be greater then the end date');
					} else {
						$('#alert').hide();
						startDate = new Date(ev.date);
						$('#startDate').text($('#dp4').data('date'));
					}
					$('#dp4').datepicker('hide');
				});
			$('#dp5').datepicker()
				.on('changeDate', function(ev){
					if (ev.date.valueOf() < startDate.valueOf()){
						$('#alert').show().find('strong').text('The end date can not be less then the start date');
					} else {
						$('#alert').hide();
						endDate = new Date(ev.date);
						$('#endDate').text($('#dp5').data('date'));
					}
					$('#dp5').datepicker('hide');
				});

        // disabling dates
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        var checkin = $('#dpd1').datepicker({
          onRender: function(date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
          }
        }).on('changeDate', function(ev) {
          if (ev.date.valueOf() > checkout.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate() + 1);
            checkout.setValue(newDate);
          }
          checkin.hide();
          $('#dpd2')[0].focus();
        }).data('datepicker');
        var checkout = $('#dpd2').datepicker({
          onRender: function(date) {
            return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
          }
        }).on('changeDate', function(ev) {
          checkout.hide();
        }).data('datepicker');
		});
	</script>
   
   {% block extrahead %}{% endblock %}
   {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
   {% load i18n %}
   </head>
   <body onload="{% block bodyonload%} {%endblock%}" >
   	
       <div class="navbar navbar-inverse navbar-fixed-top">
	  <!-- Container -->
	      {% if not is_popup %}
	      <!-- Header -->
	      <div id="navbar-inner">
		      <div class="container-fluid">
			{% block header %}
			{% endblock %}
			<a class="brand" href="/personal/index/">
				{% trans ' AVP' %}
				<img src="{% static 'appPersonal/img/logo-inicio2.png' %}" width="35" height="35"  onclick="/index.html" ></img>
				
				{% block branding %}{% endblock %}
			</a>
			{% if user.is_active and user.is_staff  %}
				<div class="nav-collapse collapse">
					<div class="navbar-text pull-right" >
					<i>{% trans 'Bienvenido,' %}</i>
					<strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
					{% block userlinks %}
					    {% url 'django-admindocs-docroot' as docsroot %}
					    {% if docsroot %}
						<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
					    {% endif %}
					    <a href="{% url 'logout' %}"><b style="display: inline-block;">Salir </b></a>
					{% endblock %}
					</div>
				</div>
			{% endif %}
		      </div>
	      </div>
	      {% endif %}
       </div>
       <!-- END Header -->
   
      {% block messages %}
		{% if messages %}
			  	<ul class="messagelist">{% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			  {% endfor %}</ul>
		{% endif %}
      {% endblock messages %}
      
      {% block pagination %}

      {% endblock %}


       <!-- Content -->
      {% block estructura %}
      
       <div class="container-fluid">
      <!-- Content -->
		<div id="content" class="{% block coltype %}colM{% endblock %}">  </div>
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
					{% block sidebar %}
					      <div id="content-related">
						      <div class="module" id="recent-actions-module">
							  {%if "Personal-Listados" in grupos  or user.username == "admin"%}
								<ul class="nav nav-list">

								  <!--<li class="nav-header"><img src="{% static 'appPersonal/img/icons/vcard.png' %}" width="8%" height="8%"></img> <b>Datos</b></li>-->
								  <li class="nav-header"><img src="{% static 'appPersonal/img/icon/contact.png' %}" width="10%" height="10%"></img> <b>Datos</b></li>

								  <li><a href="{% url 'listado/agentesIndex' %}">Agentes</a></li>
								  <li><a href="{% url 'listado/articulos' %}">Articulos</a></li>
								  <li><a href="{% url 'listado/feriados' %}">Feriados</a></li>
<!-- 								  <li><a href="/personal/listado/adscriptos">Adscriptos</a></li2> -->
<!-- 								  <li><a href="/personal/listado/listacctrabajo">Accidente de trabajo</a></li2> -->
<!-- 								  <li><a href="/personal/listado/traslado">Traslados</a></li2> -->
<!-- 								  <li><a href="/personal/listado/seguro">Seguros</a></li2> -->
								  <li><a href="{% url 'listado/agentes_base_vieja' %}">Base vieja</a></li>
								  <hr>
								</ul>
							  {%endif%}
							  {%if "Reportes" in grupos  or user.username == "admin"%}
								    <ul class="nav nav-list">
								      <!--<li class="nav-header"><img src="{% static 'appPersonal/img/icons/report.png' %}" width="8%" height="8%"></img> <b>Reportes en Excel</b></li>-->
								      <li class="nav-header"><img src="{% static 'appPersonal/img/icon/xls.png' %}" width="10%" height="10%"></img> <b>Reportes en Excel</b></li>
								      <li><a href="{% url 'reportes/agentes' %}">Agentes</a></li>
								      <li><a href="{% url 'reportes/ingfechapartdiarioausent_excel' %}">Ausentismo-Parte Diario</a></li>
								      <li><a href="{% url 'reportes/ingopcsalidasanioagente_excel' %}">Salidas Agente Año</a></li>
								      <li><a href="{% url 'reportes/ingopcsalidasmesagentes_excel' %}">Salidas Agentes Mes</a></li>
								      <li><a href="{% url 'reportes/reportelicenciaspendientes' %}">Licencias Pendientes</a></li>
								      <hr>
								    </ul>
							  {%endif%}
							  {%if "Estadisticas" in grupos or user.username == "admin" %}
								    <ul class="nav nav-list">
									      <!--<li class="nav-header"><img src="{% static 'appPersonal/img/icons/chart_pie.png' %}" width="8%" height="8%"></img> <b>Informes</b></li>-->
									      <li class="nav-header"><img src="{% static 'appPersonal/img/icon/chart.png' %}" width="10%" height="10%"></img> <b>Informes</b></li>
									      <li><a href="{% url 'listado/altasbajasindex' %}">Altas-Bajas</a></li2>
									      <li><a href="{% url 'ausent' %}">Ausentismo</a></li>
									      <li><a href="{% url 'presentRep' %}">Presentismo</a></li>
									      <li><a href="{% url 'cantagrupindex' %}">Cantidad Agrupamiento</a></li>
									      <li><a href="{% url 'cantclase' %}">Cantidad Clase</a></li>
									      <li><a href="{% url 'medicasinalta' %}">Medicas sin alta</a></li>
									      <li><a href="#">Calificaciones</a></li>
									      <hr>
								    </ul>
							  {%endif%}
							  {%if "Licencia" in grupos or user.username == "admin"%}
								    <ul class="nav nav-list">
								      <li class="nav-header"><img src="{% static 'appPersonal/img/icons/user_go.png' %}" width="10%" height="10%"></img>Generar Licencia</li>
								      <li><a href="#" onclick="doOperation('/appPersonal/generarlicencia/todos');">Generar licencia para todos</a></li>
								      <li><a href="{% url 'buscadoragenlic' %}">Generar licencia individual</a></li>
								      <hr>
								    </ul>
							  {%endif%}
							  {%if "Cambios" in grupos or user.username == "admin"%}
								    <ul class="nav nav-list">
								      <li class="nav-header"><img src="{% static 'appPersonal/img/icons/eye.png' %}" width="10%" height="10%"></img> <b>Informes</b></li>
								      <li><a href="{% url 'listado/cambios' %}" >Logs</a></li>
								      <hr>
								    </ul>
							  {%endif%}
						      </div>
					      </div>
					{% endblock %}
				</div>
			</div>

			<div class="span9" style="padding-bottom: 25%">
				<div class="panel panel-primary">
					<div class="panel-heading" style="background-color: #0D1857;">
					  <h3 class="panel-title" style="color: white;"> 
					      <center>
							{% block titulo_barra %}
					        {% endblock %}
					      </center>
					  </h3>
					</div>
					<div class="panel-body">
						{% block content_title %}
							{% if title %}
								<h1>{{ title }}</h1>
							{% endif %}
						{% endblock %}
						{% block content %}
							{% block object-tools %}
							{% endblock %}
							<div class="hero-unit">
								{{ content }}
							</div>
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
      <!-- END Content -->
      </div>  
       
      {% endblock %}
     <!-- END Content -->
   
     {% block footer %}

     {% endblock %}

     <!-- Javascript de bootstrap Latest compiled JavaScript -->
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</body>
