<!DOCTYPE html>
<html>
<head>
	{% load static %}

	<!-- Css de Bootstrap -Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Importo jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<link rel="icon" href="{% static 'favicon.png' %}" type="image/png"/>
	<title>
		Personal
	</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #F4C213;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: blue">
      	<img src="{% static 'personal/logo-inicio.png' %}" style="width: 50px;height: 40px;padding-bottom: 5px;">
      </a>
      <ul style="float: right;">
	      <li><a href="#">Salir</a></li>  
      </ul>
    </div>
  </div>
</nav>
<br><br>

	{% block contenido %}

	{% endblock %}

	<!-- Javascript de bootstrap Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>