{% extends "personal/estadisticas/estadisticas_base.html" %}
{% load i18n %}

{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial '%}
	
{% endblock%}

{% block extrahead %}
<script>
		    
	function callreportePresentismo(){
	    
	    mesaux = document.getElementById("mes").value;
	    anioaux = document.getElementById("anio").value;
	    
	    mes = parseInt(mesaux);
	    anio = parseInt(anioaux);
	    
	    open("/personal/presentReport/?mes="+mes+"&anio="+anio+"&excel="+0,"_self");	
	    return false;
	}
		  
</script>
{% endblock%}

{% block titulo-form %}
		<td><b><font color="#000000" style="font-size: 13px;">Estadisticas Ausentismos - Reporte Mensual</font></b></td> 
{% endblock %}

{% block contenido-estadisticas %}
		<h5>Presentismo</h5></br>
		<form method="post" enctype="text/plain">
		      Periodo (ejemplo 2013) <input type="text" id="anio" name="anio" maxlength=4 size=2 ></br>
		      Mes (ejemplo 08) <input type="text" id="mes" name="mes" maxlength=2 size=2 >
		      </br>
		      </br>
		      
		      <input type="button" id='btnConsulta' value="Consulta" onclick="javascript:callreportePresentismo()"/>
		      
		</form>

{% endblock %}
