{% extends "personal/listado/listado_base.html" %}
{% load i18n %}

{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial '%}
{% endblock%}


	{% block botonnuevo %}{%endblock%}
	
	{% block botonatrasaction %}"return Open('/personal/index'); " {% endblock %}
	
	{% block titulo-form %}
		    <p style="font-size: 16px;"><strong>Listado Adscriptos</strong></p>
	{% endblock %}
	
	{% block main-list %}
	
		<div class="results">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Agente</th>
						<th>Fecha</th>
						<th>Lugar</th>
						<th>Nº Resolución</th>
						<th>Función</th>
						<th>Observación</th>
					</tr>
				</thead>
				<tbody>
					{%for ads in adscriptos%}
						<tr class="{% cycle 'row1' 'row2' %}">
								<td>{{ads.idagente}}</td>
								<td>{{ads.fecha|date:"d/m/Y"}}</td>
								<td>{{ads.lugar}}</td>
								<td>{{ads.nroresolucion}}</td>
								<td>{{ads.funcion}}</td>
								<td>{{ads.observacion}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	
	{% endblock %}
	</br>
	
	{% block paginasinf %} 
        {% endblock%}
	
