{% extends "appPersonal/listado/listado_base.html" %}

{% block extrahead %}
	<script type="text/javascript">

		function buscaragentes(path){

			var busc = document.getElementById('busqueda').value ;
			open(path+"&busc="+busc,"_self");

		  return false;

		}

		$(document).ready(function(){
			$('#busqueda').keypress(function(e){
				if(e.keyCode==13)
				    $('#buscar').click();
			});
		});
	</script>
{% endblock %}


		{% block titulo-form %}
		    <td><b><font color="#000000" style="font-size: 13px;">Listado Agentes</font></b></td> 
	        {% endblock %}

		{% block botonnuevo %}
			      {%if "ABM" in grupos or user.username == "admin"%}
			      	<a href="{% url 'forms/agente' %}?idagente=0" class="btn btn-success">Nuevo</a>
			      {% endif %}
	        {%endblock%}
	        
	        {% block botonborrar %}{%endblock%}
		
		{% block botonatrasaction %}"return Open('/appPersonal/listado/agentesIndex'); " {% endblock %}
		
		{% block titulo %}
		{%endblock%}
		
		{% block busqueda %}
			<input id="busqueda" name="busqueda" class="input-medium search-query" size="50" maxlength="50" value="" type="text">
			<input id="buscar" class="btn btn-inverse" type="button" name="busqueda" value="Buscar" Onclick="return buscaragentes('/appPersonal/listado/agentes?opc={{opc}}')">
		{%endblock%}
				
		{% block main-list %}
		
		<div class="results">
			<table class="table table-striped" id="result_list">
					<thead>
					<tr>
						<th>Nombres y Apellidos</th>
						<th>Número de legajo</th>
						<th>Tipo Documento</th>
						<th>Número Documento</th>
						<th>Vacaciones</th>
						<th>Zona</th>
					</tr>
				</thead>
				<tbody>
					{%for list in lista%}
						<tr class="{% cycle 'row1' 'row2' %}">
								<td><a href="{% url 'forms/menuagente' %}?idagente={{list.idagente}}">{{list.apellido}}</a>, {{list.nombres}} </td>
								<td>{{list.nrolegajo}}</td>
								{%if list.tipodoc == '5'%}
								    <td>DNI</td>
								{%endif%}
								{%if list.tipodoc == '2'%}
								    <td>LE</td>
								{%endif%}
								{%if list.tipodoc == '1'%}
								    <td>LC</td>
								{%endif%}
								{%if list.tipodoc == '4'%}
								    <td>CI</td>
								{%endif%}
								<td>{{list.nrodocumento}}</td>
								<td><a href= "{% url 'vacas' %}?idagente={{list.idagente}}">ver</a></td>
								<td>{{list.idzona}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endblock %}
		<br/>
		{% block prevpage%}&opc={{opc}}&busc={{busc}}{% endblock %}
		{% block nextpage%}&opc={{opc}}&busc={{busc}}{% endblock %}
		