{% extends "appPersonal/listado/listado_base.html" %}


{% block path %}

{% endblock%}

{% block titulo-form %}
	<td><b><font color="#000000" style="font-size: 13px;">Listado Agentes</font></b></td> 
{% endblock %}

{% block barraherramientas %}  
{%endblock%}

{% block main-list %}
		<h4>Seleccione una opción:</h4>
		<center>
		<ul class="nav nav-tabs nav-stacked">  
			<li ><a href="{% url 'listado/agentes'%}?opc=2&busc=">Agentes Activos</a></li>
			<li ><a href="{% url 'listado/agentes'%}?opc=0&busc=">Agentes dados de Baja</a></li>
			<li ><a href="{% url 'listado/agentes'%}?opc=1&busc=">Agentes Inactivos</a></li>
			<li ><a href="{% url 'listado/agentes'%}?opc=9&busc=">Todos los Agentes</a></li>
		</ul>
		</center>
{% endblock %}
</br>

{% block paginasinf %} 
{% endblock%}