{% extends "appPersonal/listado/listado_base.html" %}
{% load i18n %}

{% block botonnuevo %}{%endblock%}

{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a href="#" class="activo">/ Articulos </a>
{% endblock %}



{% block botonatrasaction %}"return Open('/appPersonal/index'); " {% endblock %}

{% block path %}{% endblock%}

{% block titulo-form %}
		    <td><b><font color="#000000" style="font-size: 13px;">Listado Artículos</font></b></td> 
{% endblock %}

{% block main-list %}
		
		
		<div class="results">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Descripcion</th>
						<th>Maximo anual</th>
						<th>Maximo mensual</th>
					</tr>
				</thead>
				<tbody>
					{%for arti in articulos%}
						<tr class="{% cycle 'row1' 'row2' %}">
								<td><a href="{% url 'forms/abmarticulos' arti.pk %}">{{arti.descripcion}}</a></td>
								<td>{{arti.maxanual}}</td>
								<td>{{arti.maxmensual}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	
{% endblock %}
</br>

{% block paginasinf %}  
{%endblock%}