{% extends "personal/listado/listado_base.html" %}
{% load i18n %}

{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial '%}
{% endblock%}

		{% block titulo-form %}
		    <td><b><font color="#000000" style="font-size: 13px;">Cambios en el registro</font></b></td> 
	        {% endblock %}

	    	{% block botonnuevo %}{%endblock%}
	
		{% block botonatrasaction %}"return Open('/personal/listado/cambios'); " {% endblock %}
	
		{% block path %}{% endblock%}
		
		{% block titulo %}
		
		{%endblock%}
		{% block main-list %}
		
		<div class="results">
			<table class="table table-striped">
					<thead>
					<tr>	<th>Campo</th>
						<th>Registro Nuevo</th>
						<th>Registro Viejo</th>
					</tr>
				</thead>
				<tbody>
					{%for list in lista%}
						<tr class="{% cycle 'row1' 'row2' %}">
							
							{%if "Vacio" in list.0.1 %}
							    <td>{{list.1.0}}</td>
							{% else %}
							    <td>{{list.0.0}}</td>							
							{% endif %}
							<td>{{list.0.1}}</td>
							<td>{{list.1.1}}</td>
							
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endblock %}
		<br/>