{% extends "appPersonal/listado/listado_base.html" %}

{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a href="#" class="activo">/ Feriados </a>
{% endblock %}

{% block extrahead %}
	<script type="text/javascript">

		function buscaragentes(path){

			var busc = document.getElementById('busqueda').value ;
			open(path+"&busc="+busc,"_self");

		  return false;

		}

		$(document).ready(function(){
			$('#busqueda').keypress(function(e){
				if(e.keyCode==13)
				    $('#buscar').click();
			});
		});
	</script>
{% endblock %}

		{% block titulo-form %}
		    <td><b><font color="#1f618d" style="font-size: 13px;">Listado Feriados</font></b></td> 
	    {% endblock %}
	    
		{% block botonnuevo %}
			      {%if "ABM" in grupos or user.username == "admin"%}
			      	<a href="{% url 'altaFeriado' %}?idferiado=0" class="btn btn-success">Nuevo</a>

			      {% endif %}
	        {%endblock%}
	        
	        {% block botonborrar %}{%endblock%}
		
		{% block botonatrasaction %}"return Open('/appPersonal/listado/agentesIndex'); " {% endblock %}
		
		{% block titulo %}
		{%endblock%}
		
		{% block busqueda %}
			<input id="busqueda" name="busqueda" class="input-medium search-query" size="50" maxlength="50" value="" type="text">
			<input id="buscar" class="btn btn-inverse" type="button" name="busqueda" value="Buscar" Onclick="return buscaragentes('{% url 'listado/feriados' %}?opc={{opc}}')">
		{%endblock%}
				
		{% block main-list %}


		<div class="results">
			<table class="table table-striped" id="result_list">
					<thead>
					<tr style="color: #0ba29f">
						<th>Fecha</th>
						<th>Descripcion</th>
						<th>Lugar</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					
					{%for list in lista%}
						<tr class="{% cycle 'row1' 'row2' %}" style="font-weight: bold;">
								<td style="color: #0f63c2">{{list.Fecha}} </td>
								<td style="color: #c25e0f">{{list.descripcion}}</td>
								<td style="color: #0bafab">{{list.lugar}}</td>
								<td>
									<a href="{% url 'modificarFeriado' %}?idferiado={{list.idferiado}}" class="btn btn-info">Modificar</a>
									<a onclick="return confirm('¿Esta seguro que desea eliminar el feriado del dia {{list.Fecha|date:'d/m/Y'}}?')" href="{% url 'eliminarFeriado' %}?idferiado={{list.idferiado}}" class="btn btn-danger">Eliminar</a>
								</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endblock %}
		<br/>
		{% block prevpage%}&opc={{opc}}&busc={{busc}}{% endblock %}
		{% block nextpage%}&opc={{opc}}&busc={{busc}}{% endblock %}