<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />

{% endblock %}

{% block branding %}{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}



{% block footer %}{% endblock %}

{% block content %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Untitled Form</title>
<link rel="stylesheet" type="text/css" href="/css/view.css" media="all">
<script type="text/javascript" src="/js/view.js"></script>
<script type="text/javascript" src="/js/calendar/calendar.js"></script>

<script>
		
	function listcombustiblesadmin(){
	
			
		dias = document.getElementById("element_1_2").value;
		mes = document.getElementById("element_1_1").value;
		anio = document.getElementById("element_1_3").value;
		
		dias2 = document.getElementById("element_2_2").value;
		mes2 = document.getElementById("element_2_1").value;
		anio2 = document.getElementById("element_2_3").value;
		
		desde = anio + "-" + mes +"-"+ dias;
		hasta = anio2 + "-" + mes2 +"-"+ dias2;
	       	
	       	posicion = document.getElementById("select1").options.selectedIndex;
		sexo = document.getElementById("select1").options[posicion].text;
	       	
	        nronota = document.getElementById("nronota").value;
	       	cargo = document.getElementById("cargo").value;
		nombre = document.getElementById("nombre").value;
	       
		posiciondepo = document.getElementById("select2").options.selectedIndex;	
		
		posiciondepo = posiciondepo + 1;
		
		excel = 0
		
		//open("/deposito/listado/listingresos/?dato="+dato+"&listopc="+listopc+"&desde="+desde+"&hasta="+hasta+"&opciondepo="+posiciondepo+"&pdf="+pdf+"&destino="+destino,"_self");	
		open("/deposito/listado/listcombustibles/?nronota="+nronota+"&excel="+excel+"&desde="+desde+"&posiciondepo="+posiciondepo+"&hasta="+hasta+"&nombre="+nombre+"&cargo="+cargo+"&sexo="+sexo,"_self");	
		
		
		//alert("Fecha desde: "+desde +"/// Fecha Hasta: "+hasta );
		//alert("opcion: "+n[0]);
				
		return false;
	}
	
	function listcombustibles(){
	
			
		dias = document.getElementById("element_1_2").value;
		mes = document.getElementById("element_1_1").value;
		anio = document.getElementById("element_1_3").value;
		
		dias2 = document.getElementById("element_2_2").value;
		mes2 = document.getElementById("element_2_1").value;
		anio2 = document.getElementById("element_2_3").value;
		
		desde = anio + "-" + mes +"-"+ dias;
		hasta = anio2 + "-" + mes2 +"-"+ dias2;
	       	
	       	posicion = document.getElementById("select1").options.selectedIndex;
		sexo = document.getElementById("select1").options[posicion].text;
	       	
	        nronota = document.getElementById("nronota").value;
	       	cargo = document.getElementById("cargo").value;
		nombre = document.getElementById("nombre").value;
	       
	        excel = 0
			
						
		//open("/deposito/listado/listingresos/?dato="+dato+"&listopc="+listopc+"&desde="+desde+"&hasta="+hasta+"&opciondepo="+posiciondepo+"&pdf="+pdf+"&destino="+destino,"_self");	
		open("/deposito/listado/listcombustibles/?nronota="+nronota+"&excel="+excel+"&desde="+desde+"&hasta="+hasta+"&nombre="+nombre+"&cargo="+cargo+"&sexo="+sexo,"_self");	
		
		
		//alert("Fecha desde: "+desde +"/// Fecha Hasta: "+hasta );
		//alert("opcion: "+n[0]);
				
		return false;
	}
	
	// Excel ================================================
	
	function excelcombustiblesadmin(){
	
			
		dias = document.getElementById("element_1_2").value;
		mes = document.getElementById("element_1_1").value;
		anio = document.getElementById("element_1_3").value;
		
		dias2 = document.getElementById("element_2_2").value;
		mes2 = document.getElementById("element_2_1").value;
		anio2 = document.getElementById("element_2_3").value;
		
		desde = anio + "-" + mes +"-"+ dias;
		hasta = anio2 + "-" + mes2 +"-"+ dias2;
	       	
	       	posicion = document.getElementById("select1").options.selectedIndex;
		sexo = document.getElementById("select1").options[posicion].text;
	       	
	        nronota = document.getElementById("nronota").value;
	       	cargo = document.getElementById("cargo").value;
		nombre = document.getElementById("nombre").value;
	       
		posiciondepo = document.getElementById("select2").options.selectedIndex;	
		
		posiciondepo = posiciondepo + 1;
		
		excel = 1
		
		//open("/deposito/listado/listingresos/?dato="+dato+"&listopc="+listopc+"&desde="+desde+"&hasta="+hasta+"&opciondepo="+posiciondepo+"&pdf="+pdf+"&destino="+destino,"_self");	
		open("/deposito/listado/listcombustibles/?nronota="+nronota+"&excel="+excel+"&desde="+desde+"&posiciondepo="+posiciondepo+"&hasta="+hasta+"&nombre="+nombre+"&cargo="+cargo+"&sexo="+sexo,"_self");	
		
		
		//alert("Fecha desde: "+desde +"/// Fecha Hasta: "+hasta );
		//alert("opcion: "+n[0]);
				
		return false;
	}
	
	function excelcombustibles(){
	
			
		dias = document.getElementById("element_1_2").value;
		mes = document.getElementById("element_1_1").value;
		anio = document.getElementById("element_1_3").value;
		
		dias2 = document.getElementById("element_2_2").value;
		mes2 = document.getElementById("element_2_1").value;
		anio2 = document.getElementById("element_2_3").value;
		
		desde = anio + "-" + mes +"-"+ dias;
		hasta = anio2 + "-" + mes2 +"-"+ dias2;
	       	
	       	posicion = document.getElementById("select1").options.selectedIndex;
		sexo = document.getElementById("select1").options[posicion].text;
	       	
	        nronota = document.getElementById("nronota").value;
	       	cargo = document.getElementById("cargo").value;
		nombre = document.getElementById("nombre").value;
	       
		excel = 1	
						
		//open("/deposito/listado/listingresos/?dato="+dato+"&listopc="+listopc+"&desde="+desde+"&hasta="+hasta+"&opciondepo="+posiciondepo+"&pdf="+pdf+"&destino="+destino,"_self");	
		open("/deposito/listado/listcombustibles/?nronota="+nronota+"&excel="+excel+"&desde="+desde+"&hasta="+hasta+"&nombre="+nombre+"&cargo="+cargo+"&sexo="+sexo,"_self");	
		
		
		//alert("Fecha desde: "+desde +"/// Fecha Hasta: "+hasta );
		//alert("opcion: "+n[0]);
				
		return false;
	}
	
	// =================================================================
	
	function graficocombustiblesadmin(){
	
			
		dias = document.getElementById("element_1_2").value;
		mes = document.getElementById("element_1_1").value;
		anio = document.getElementById("element_1_3").value;
		
		dias2 = document.getElementById("element_2_2").value;
		mes2 = document.getElementById("element_2_1").value;
		anio2 = document.getElementById("element_2_3").value;
		
		desde = anio + "-" + mes +"-"+ dias;
		hasta = anio2 + "-" + mes2 +"-"+ dias2;
	       	
	       	posicion = document.getElementById("select1").options.selectedIndex;
		sexo = document.getElementById("select1").options[posicion].text;
	       	
	        nronota = document.getElementById("nronota").value;
	       	cargo = document.getElementById("cargo").value;
		nombre = document.getElementById("nombre").value;
	       
		posiciondepo = document.getElementById("select2").options.selectedIndex;	
		
		posiciondepo = posiciondepo + 1;
			
		//open("/deposito/listado/listingresos/?dato="+dato+"&listopc="+listopc+"&desde="+desde+"&hasta="+hasta+"&opciondepo="+posiciondepo+"&pdf="+pdf+"&destino="+destino,"_self");	
		open("/deposito/listado/graficocombustibles/?nronota="+nronota+"&desde="+desde+"&posiciondepo="+posiciondepo+"&hasta="+hasta+"&nombre="+nombre+"&cargo="+cargo+"&sexo="+sexo,"_self");	
		
		
		//alert("Fecha desde: "+desde +"/// Fecha Hasta: "+hasta );
		//alert("opcion: "+n[0]);
				
		return false;
	}
	
	function graficocombustibles(){
	
			
		dias = document.getElementById("element_1_2").value;
		mes = document.getElementById("element_1_1").value;
		anio = document.getElementById("element_1_3").value;
		
		dias2 = document.getElementById("element_2_2").value;
		mes2 = document.getElementById("element_2_1").value;
		anio2 = document.getElementById("element_2_3").value;
		
		desde = anio + "-" + mes +"-"+ dias;
		hasta = anio2 + "-" + mes2 +"-"+ dias2;
	       	
	       	posicion = document.getElementById("select1").options.selectedIndex;
		sexo = document.getElementById("select1").options[posicion].text;
	       	
	        nronota = document.getElementById("nronota").value;
	       	cargo = document.getElementById("cargo").value;
		nombre = document.getElementById("nombre").value;
	       
						
		//open("/deposito/listado/listingresos/?dato="+dato+"&listopc="+listopc+"&desde="+desde+"&hasta="+hasta+"&opciondepo="+posiciondepo+"&pdf="+pdf+"&destino="+destino,"_self");	
		open("/deposito/listado/graficocombustibles/?nronota="+nronota+"&desde="+desde+"&hasta="+hasta+"&nombre="+nombre+"&cargo="+cargo+"&sexo="+sexo,"_self");	
		
		
		//alert("Fecha desde: "+desde +"/// Fecha Hasta: "+hasta );
		//alert("opcion: "+n[0]);
				
		return false;
	}
	
	
</script>


</head>

	<img id="top" src="/img/top.png" alt="">
	<div id="form_container">
	
		<h1><a>Untitled Form</a></h1>
		
		<form id="form_597362" name="formulario1" class="appnitro" action="">{% csrf_token %}
		
		<table>
			<div class="form_description">
			<h2>Listado Combustibles - Lubricantes.</h2>
			<p>Seleccione entre las distintas opciones, para generar el listado correspondiente.</p>
			</div>
			
			
			<!-- # FECHA DESDE -->
			
			<ul >
			
					<li id="li_1" >
			<label class="description" for="element_1">Fecha Desde </label>
			
			<span>
				<input id="element_1_2" name="element_1_2" class="element text" size="2" maxlength="2" value="" type="text"> /
				<label for="element_1_2">DD</label>
			</span>
			<span>
				<input id="element_1_1" name="element_1_1" class="element text" size="2" maxlength="2" value="" type="text"> /
				<label for="element_1_1">MM</label>
			</span>
			<span>
				<input id="element_1_3" name="element_1_3" class="element text" size="4" maxlength="4" value="" type="text">
				<label for="element_1_3">YYYY</label>
			</span>
		
			<span id="calendar_1">
				<img id="cal_img_1" class="datepicker" src="/img/calendar.gif" alt="Pick a date.">	
			</span>
			<script type="text/javascript">
				Calendar.setup({
				inputField	 : "element_1_3",
				baseField    : "element_1",
				displayArea  : "calendar_1",
				button		 : "cal_img_1",
				ifFormat	 : "%B %e, %Y",
				onSelect	 : selectDate
				});
			</script>
			
			
			<!-- # FECHA HASTA -->
			</li>		<li id="li_2" >
			<label class="description" for="element_2">Fecha Hasta </label>
			
			<span>
				<input id="element_2_2" name="element_2_2" class="element text" size="2" maxlength="2" value="" type="text"> /
				<label for="element_2_2">DD</label>
			</span>
			<span>
				<input id="element_2_1" name="element_2_1" class="element text" size="2" maxlength="2" value="" type="text"> /
				<label for="element_2_1">MM</label>
			</span>
			<span>
				<input id="element_2_3" name="element_2_3" class="element text" size="4" maxlength="4" value="" type="text">
				<label for="element_2_3">YYYY</label>
			</span>
		
			<span id="calendar_2">
				<img id="cal_img_2" class="datepicker" src="/img/calendar.gif" alt="Pick a date.">	
			</span>
			<script type="text/javascript">
				Calendar.setup({
				inputField	 : "element_2_3",
				baseField    : "element_2",
				displayArea  : "calendar_2",
				button		 : "cal_img_2",
				ifFormat	 : "%B %e, %Y",
				onSelect	 : selectDate
				});
			</script>
			
			</li>
			
		
			</ul>
			
			<ul >
		
			
			<table>
			<tr>
			<td>Nro. Nota</td>
			<td><input type="text" id="nronota"><td>
			</tr>
			<tr>
			<p>
			Sexo:
			<select id="select1" name="select1">
			    <option>Señor</option>
			    <option>Señora</option>
			</select>
			</p>
			</tr>
			<tr>
			<td>Cargo</td>
			<td><input type="text" id="cargo"><td>
			</tr>
					
			<tr>
			<td>Nombre</td>
			<td><input type="text" id="nombre"><td>
			</tr>
			
			{% if opcion == 0 %}
			<p>
			<tr>
			<td>Depósito:</td>
			<td>    <select id="select2" name="select2">
			   
				<option>Sarmiento</option>
				<option>Pto. Madryn</option> 
				<option>Esquel</option> 
				<option>Gaiman</option> 
				<option>Rawson</option>
				<option>Trevelin</option>
						    
			    </select>
			</td>
			</tr>
			</p>
			{% endif %}
			
			
			</table>
					
			</ul>
		</table>	
		</form>
		
		<table>	
		<tr>
		<td>
		{% if opcion != 0 %}
		<input id="saveForm" class="button_text" type="submit" name="submit" value="Listar" onclick="javascript:listcombustibles()" style="
		  margin-left: 30px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
		
		<input id="saveForm" class="button_text" type="submit" name="submit" value="Excel" onclick="javascript:excelcombustibles()" style="
		  margin-left: 30px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
		
		<input id="saveForm" class="button_text" type="submit" name="submit" value="Grafico" onclick="javascript:graficocombustibles()" style="
		  margin-left: 30px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
			
			
		{% else %}
		<input id="saveForm" class="button_text" type="submit" name="submit" value="Listar" onclick="javascript:listcombustiblesadmin()" style="
		  margin-left: 30px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
		
		<input id="saveForm" class="button_text" type="submit" name="submit" value="Excel" onclick="javascript:excelcombustiblesadmin()" style="
		  margin-left: 30px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
		
		<input id="saveForm" class="button_text" type="submit" name="submit" value="Grafico" onclick="javascript:graficocombustiblesadmin()" style="
		  margin-left: 30px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
		
		{% endif %}
		</td>
		<td>
		<input type="button" value="Volver Atrás" name="Back2" onclick="history.back()" style="
		  margin-left: 10px;
		  margin-bottom: 10px;
		  width: 80px;
		  height: 22px;
		" />
		</td>
						
		</tr>
		</table>
	</div>
	
	<img id="bottom" src="/img/bottom.png" alt=""> 
	
	
</html>
{% endblock %}
