{% extends "appPersonal/estaditicas/estaditicas_base.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript">
	function reporteAusEst(){
		if (tiene_numeros($F('periodo')) == 1){
			if ($F('periodo').length == 4){
				var url="/personal/ausReport/"+$F('periodo');
				open(url,"_self");
				return false;
			}
			else{
				alert ("Inrgese un periodo valido...");
			}
			
		}
		else{
			alert("Ingrese datos numericos...");
		}
	
	}


</script>


{% block contenido-estaditicas %}
	<h5>Reporte de ausentismos</h5>
	<p>Aqui puede consultar por el ausentismo en un año dado</p>
	<form>
	      Año (<em>Ejemplo 2013</em>) <input id="periodo"size="4" maxlength="4" value="" type="text"/>
	      <input type="button" "return onclick="return reporteAusEst()" value="Realizar consulta"/>
	</form>
{% endblock %}
