<!DOCTYPE html>
<html>
<head>
	{% load static %}
	

	<title>Login</title>
	

	<link rel="icon" href="{% static 'favicon.png' %}" type="image/png"/>

	<link rel="stylesheet" href="{% static 'appPasajes/css/estilo.css' %}" type="text/css">

	<!-- Css de Bootstrap -Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Importo jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body class="container" id="bodyLogin" style="background-image: url('static/fondo.png')">
	<center>
		<div style="margin-top: 170px;">
			<div style="border: solid 12px #F7D403;padding: 8px;display: inline-block;margin-left: 400px;float: left;">
				<h2 style="color:#37898a">Inicio de sesion</h2>
				<form method="post">
				  {% csrf_token %}
				  {{ form.as_p }}
				  <br>
				  <button type="submit" class="btn btn-info">Ingresar</button>
				</form>
			</div>
		</div>
	</center>

<!-- Javascript de bootstrap Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</body>
</html>