{% extends "appPersonal/forms/form_base.html" %}
{% load static %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'appPersonal/js/forms/view.js' %}"></script>
<script type="text/javascript" src="{% static 'appPersonal/js/forms/calendar.js' %}"></script>
{% endblock%}
{% block branding %}

{% endblock %}

{% block breadcrumbs %}
 {% endblock %}
            
{% block nav-global %}

{% endblock %}

	{% block titulo-form %}
		<td><b><font color="#000000" style="font-size: 13px;">Agente</font></b></td> 
	{% endblock %}

	{% block contenido-form %}
		
		<p>
		<label class="description" for="element_2">Nombre y Apellido: </label>
		<input id="element_2" name="element_2" class="text" type="text" size="50" maxlength="255" value="{{agente.nombres}},{{agente.apellido}}"/> 
		</p> 

		<p>
		<label class="description" for="element_3">Número Legajo: </label>
		<input id="element_3" name="element_3" class="element text large" type="text" maxlength="255" value="{{agente.nrolegajo}}"/> 
		</p> 

		<p>
		<label class="description" for="element_4">Tipo Documento: </label>
		<input id="element_4" name="element_4" class="element text large" type="text" maxlength="255" value="{{agente.tipodoc}}"/> 
		</p> 

		<p>
		<label class="description" for="element_5">Número de Documento: </label>
		<input id="element_5" name="element_5" class="element text large" type="text" maxlength="255" value="{{agente.nrodocumento}}"/> 
		</p> 

		<p>
		<label class="description" for="element_37">Sexo: </label>
		<select class="element select medium" id="element_37" name="element_37"> 
			<option value="{{sexo}}" selected="selected"></option>
			<option value="1" {% if sexo = 1 %} selected="selected" {% endif %}>Masculino</option>
			<option value="2" {% if sexo = 2 %} selected="selected" {% endif %}>Femenino</option>

		</select>
		</p> 

		
		<p>
		<label class="description" for="element_6">Fecha de Nacimiento: </label>
		<span>
			<input id="element_6_1" name="element_6_1" class="element text" size="2" maxlength="2" value="{{agente.fechanacimiento.day}}" type="text"> /
			<label for="element_6_1">DD</label>
		</span>
		<span>
			<input id="element_6_2" name="element_6_2" class="element text" size="2" maxlength="2" value="{{agente.fechanacimiento.month}}" type="text"> /
			<label for="element_6_2">MM</label>
		</span>
		<span>
	 		<input id="element_6_3" name="element_6_3" class="element text" size="4" maxlength="4" value="{{agente.fechanacimiento.year}}" type="text">
			<label for="element_6_3">AAAA</label>
		</span>
	
		<span id="calendar_6">
			<img id="cal_img_6" class="datepicker" src='/site_media/personal/img/forms/calendar.gif' alt="Pick a date.">	
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_6_3",
			baseField    : "element_6",
			displayArea  : "calendar_6",
			button		 : "cal_img_6",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectEuropeDate
			});
		</script>
		</p>
		
		
		<p>
		<label class="description" for="element_7">Nacionalidad: </label>
		<input id="element_7" name="element_7" class="element text large" type="text" maxlength="255" value="{{agente.nacionalidad}}"/> 
		</p> 

		<p>
		<label class="description" for="element_38">Estado Civil: </label>
		<select class="element select medium" id="element_38" name="element_38"> 
			<option value="" selected="selected"></option>
			<option value="2" {% if ecivil = 2 %} selected="selected" {% endif %} >Soltero/a</option>
			<option value="1" {% if ecivil = 1 %} selected="selected" {% endif %}>Casado/a</option>
			<option value="3" {% if ecivil = 3 %} selected="selected" {% endif %}>Divorciado/a</option>
			<option value="4" {% if ecivil = 4 %} selected="selected" {% endif %}>Viudo/a</option>

		</select>
		</p> 
		
		
		<p>
		<label class="description" for="element_8">Código Postal: </label>
		<input id="element_8" name="element_8" class="element text medium" type="text" maxlength="255" value="{{agente.codigopostal}}"/> 
		</p> 

		<p>
		<label class="description" for="element_9">Domicilio: </label>
		<input id="element_9" name="element_9" class="element text large" type="text" maxlength="255" value="{{agente.domicilio}}"/> 
		</p> 

		<p>
		<label class="description" for="element_10">Telefono: </label>
		<input id="element_10" name="element_10" class="element text medium" type="text" maxlength="255" value="{{agente.telefono}}"/> 
		</p> 

		<p>
		<label class="description" for="element_11">Fecha Alta: </label>
		<span>
			<input id="element_11_1" name="element_11_1" class="element text" size="2" maxlength="2" value="{{agente.fechaalta.day}}" type="text"> /
			<label for="element_11_1">DD</label>
		</span>
		<span>
			<input id="element_11_2" name="element_11_2" class="element text" size="2" maxlength="2" value="{{agente.fechaalta.month}}" type="text"> /
			<label for="element_11_2">MM</label>
		</span>
		<span>
	 		<input id="element_11_3" name="element_11_3" class="element text" size="4" maxlength="4" value="{{agente.fechaalta.year}}" type="text">
			<label for="element_11_3">AAAA</label>
		</span>
	
		<span id="calendar_11">
			<img id="cal_img_11" class="datepicker" src='/site_media/personal/img/forms/calendar.gif' alt="Pick a date.">	
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_11_3",
			baseField    : "element_11",
			displayArea  : "calendar_11",
			button		 : "cal_img_11",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectEuropeDate
			});
		</script>
		</p>
		
		<p>
		<label class="description" for="element_12">Antigüedad Años Reconocida: </label>
		<input id="element_12" name="element_12" class="element text small" type="text" maxlength="255" value="{{agente.antigranios}}"/> 
		</p> 

		<p>
		<label class="description" for="element_13">Antigüedad Meses Reconocida: </label>
		<input id="element_13" name="element_13" class="element text small" type="text" maxlength="255" value="{{agente.antigrmeses}}"/> 
		</p> 

		<p>
		<label class="description" for="element_14">Antigüedad Años AVP: </label>
		<input id="element_14" name="element_14" class="element text small" type="text" maxlength="255" value="{{agente.antigrvanios}}"/> 
		</p> 

		<p>
		<label class="description" for="element_15">Antigüedad Meses AVP: </label>
		<input id="element_15" name="element_15" class="element text small" type="text" maxlength="255" value="{{agente.antigrvmeses}}"/> 
		</p> 

		<p>
		<label class="description" for="element_16">Antigüedad Año Reconocida AVP: </label>
		<input id="element_16" name="element_16" class="element text small" type="text" maxlength="255" value="{{agente.antigravpanios}}"/> 
		</p> 

		<p>
		<label class="description" for="element_17">Antigüedad Meses Reconocida AVP: </label>
		<input id="element_17" name="element_17" class="element text small" type="text" maxlength="255" value="{{agente.antigravpmeses}}"/> 
		</p> 

		
		<p>
		<label class="description" for="element_18">Fecha Baja: </label>
		<span>
			<input id="element_18_1" name="element_18_1" class="element text" size="2" maxlength="2" value="{{agente.fechabaja.day}}" type="text"> /
			<label for="element_18_1">DD</label>
		</span>
		<span>
			<input id="element_18_2" name="element_18_2" class="element text" size="2" maxlength="2" value="{{agente.fechabaja.month}}" type="text"> /
			<label for="element_18_2">MM</label>
		</span>
		<span>
	 		<input id="element_18_3" name="element_18_3" class="element text" size="4" maxlength="4" value="{{agente.fechabaja.year}}" type="text">
			<label for="element_18_3">AAAA</label>
		</span>

		</p>
		 

		<p> 
		<label class="description" for="element_19">Razón Baja: </label>
		<input id="element_19" name="element_19" class="element text large" type="text" maxlength="255" value="{{agente.razonbaja}}"/> 
		</p> 

		<p>
		<label class="description" for="element_20">Clase: </label>
		<input id="element_20" name="element_20" class="element text large" type="text" maxlength="255" value="{{agente.clase}}"/> 
		</p> 

		
		<p>
		<label class="description" for="element_21">Categoría: </label>
		<input id="element_21" name="element_21" class="element text small" type="text" maxlength="255" value="{{agente.categoria}}"/> 
		</p> 

		<p>
		<label class="description" for="element_22">Título: </label>
		<input id="element_22" name="element_22" class="element text large" type="text" maxlength="255" value="{{agente.titulo}}"/> 
		</p> 

		<p>
		<label class="description" for="element_23">Planta: </label>
		<input id="element_23" name="element_23" class="element text large" type="text" maxlength="255" value="{{agente.planta}}"/> 
		</p> 

		<p>
		<label class="description" for="element_24">Agrupamiento: </label>
		<input id="element_24" name="element_24" class="element text medium" type="text" maxlength="255" value="{{agente.agrupamiento}}"/> 
		</p> 
		
		
		<p>
		<label class="description" for="element_25">Situación: </label>
		<input id="element_25" name="element_25" class="element text large" type="text" maxlength="255" value="{{agente.situacion}}"/> 
		</p> 

		
		<p>
		<label class="description" for="element_26">Dirección: </label>
		<input id="element_26" name="element_26" class="element text large" type="text" maxlength="255" value="{{agente.iddireccion}}"/> 
		</p> 

		
		<p>
		<label class="description" for="element_27">Sucursal: </label>
		<input id="element_27" name="element_27" class="element text large" type="text" maxlength="255" value="{{agente.sucursal}}"/> 
		</p> 
		
		<p>
		<label class="description" for="element_28">Número Contrato: </label>
		<input id="element_28" name="element_28" class="element text large" type="text" maxlength="255" value="{{agente.nrocontrato}}"/> 
		</p> 
		
		
		<p>
		<label class="description" for="element_29">Número Cuenta: </label>
		<input id="element_29" name="element_29" class="element text large" type="text" maxlength="255" value="{{agente.nrocuenta}}"/> 
		</p> 
		
		
		<p>
		<label class="description" for="element_30">Número Legajo Sueldos: </label>
		<input id="element_30" name="element_30" class="element text large" type="text" maxlength="255" value="{{agente.nrolegajosueldos}}"/> 
		</p> 
		
		<p>
		<label class="description" for="element_31">Observaciones: </label>
		<textarea id="element_31" name="element_31" class="element textarea medium">{{agente.observaciones}}</textarea> 
		</p> 
		
		
		<p>
		<label class="description" for="element_32">Total 102: </label>
		<input id="element_32" name="element_32" class="element text medium" type="text" maxlength="255" value="{{agente.total102}}"/> 
		</p> 
		
		
		<p>
		<label class="description" for="element_33">Sección: </label>
		<input id="element_33" name="element_33" class="element text large" type="text" maxlength="255" value="{{agente.seccion}}"/> 
		</p> 
		
		<p>
		<label class="description" for="element_34">Función: </label>
		<input id="element_34" name="element_34" class="element text large" type="text" maxlength="255" value="{{agente.funcion}}"/> 
		</p> 
		
		<p>
		<label class="description" for="element_35">Zona: </label>
		<input id="element_35" name="element_35" class="element text large" type="text" maxlength="255" value="{{agente.idzona}}"/> 
		</p> 
		
		<p>
		<label class="description" for="element_36">Clase a Cargo: </label>
		<input id="element_36" name="element_36" class="element text large" type="text" maxlength="255" value="{{agente.claseac}}"/> 
		</p> 
		
		<p>
		<label class="description" for="element_1">Dedicación: </label>
		<span>
		      <input id="element_1_1" name="element_1_1" class="element checkbox" type="checkbox" value="1" 	 />
		      <label class="choice" for="element_1_1">Exclusiva</label>
		      <input id="element_1_2" name="element_1_2" class="element checkbox" type="checkbox"  value="1" />
		      <label class="choice" for="element_1_2">Funcional</label>

		</span> 
		</p>
		
			   		
{% endblock %}