{% extends "personal/forms/form_base.html" %}
{% load i18n %}

{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial - Agente'%}
{% endblock%}

{% block extrahead %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<script type="text/javascript" src='/site_media/personal/js/forms/view.js'></script>
<script type="text/javascript" src='/site_media/personal/js/forms/calendar.js'></script>
{% endblock%}
{% block branding %}

{% endblock %}

{% block breadcrumbs %}
 {% endblock %}
            
{% block nav-global %}

{% endblock %}

{% block titulo-form %}
		<td><b><font color="#000000" style="font-size: 13px;">Asignacion Familiar</font></b></td> 
	{% endblock %}

	{% block contenido-form %}

		<p>
		<label class="description" for="element_1">Nombre y Apellido: </label>
		<input id="element_1" name="element_1" class="element text large" type="text" maxlength="255" value=""/> 
		</p> 

		<p>
		<label class="description" for="element_2">Tipo de Documento: </label>
		<input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value=""/> 
		</p> 

		<p>
		<label class="description" for="element_3">Número de Docuento: </label>
		<input id="element_3" name="element_3" class="element text medium" type="text" maxlength="255" value=""/> 
		</p> 

		<p>
		<label class="description" for="element_4">Nombre y Apellido Familiar: </label>
		<input id="element_4" name="element_4" class="element text large" type="text" maxlength="255" value=""/> 
		</p> 

		<p>
		<label class="description" for="element_5">Text: </label>
		<input id="element_5" name="element_5" class="element text medium" type="text" maxlength="255" value=""/> 
		</p> 

		<p>
		<label class="description" for="element_9">Sexo: </label>
		
		<select class="element select medium" id="element_9" name="element_9"> 
			<option value="" selected="selected"></option>
			<option value="1" >Masculino</option>
			<option value="2" >Femenino</option>
		</select>
		</p>

		<p>
		<label class="description" for="element_10">Vínculo: </label>
		<select class="element select medium" id="element_10" name="element_10"> 
			<option value="" selected="selected"></option>
			<option value="1" >Ninguno</option>
			<option value="2" >Hijo</option>
			<option value="3" >Conyugue</option>
			<option value="4" >Concubino</option>
			<option value="5" >Padres</option>
			<option value="6" >Prenatal</option>
			<option value="7" >Adopción</option>
			<option value="8" >Hermano/a</option>
		</select>
		</p> 
		

		<p>
		<label class="description" for="element_6">Fecha de Nacimiento: </label>
		<span>
			<input id="element_6_1" name="element_6_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_6_1">DD</label>
		</span>
		<span>
			<input id="element_6_2" name="element_6_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_6_2">MM</label>
		</span>
		<span>
	 		<input id="element_6_3" name="element_6_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_6_3">YYYY</label>
		</span>
	
		<span id="calendar_6">
			<img id="cal_img_6" class="datepicker" src='/site_media/personal/img/forms/calendar.gif' alt="Pick a date.">	
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_6_3",
			baseField    : "element_6",
			displayArea  : "calendar_6",
			button		 : "cal_img_6",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectEuropeDate
			});
		</script>
		</p> 

		<p>
		<label class="description" for="element_11"> </label>
		<span>
			<input id="element_11_1" name="element_11_1" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_11_1">Discapacidad</label>
		</span> 
		</p>
		
		
		<p>
		<label class="description" for="element_7">Fecha Acontecimiento: </label>
		<span>
			<input id="element_7_1" name="element_7_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_7_1">DD</label>
		</span>
		<span>
			<input id="element_7_2" name="element_7_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_7_2">MM</label>
		</span>
		<span>
	 		<input id="element_7_3" name="element_7_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_7_3">YYYY</label>
		</span>
	
		<span id="calendar_7">
			<img id="cal_img_7" class="datepicker" src='/site_media/personal/img/forms/calendar.gif' alt="Pick a date.">	
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_7_3",
			baseField    : "element_7",
			displayArea  : "calendar_7",
			button		 : "cal_img_7",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectEuropeDate
			});
		</script>
		</p>
		
		
		<p>
		<label class="description" for="element_8">Observaciones: </label>
		<textarea id="element_8" name="element_8" class="element textarea medium"></textarea> 
		</p> 

		<p>
		<label class="description" for="element_12"> </label>
		
		     <input id="element_12_1" name="element_12_1" class="element checkbox" type="checkbox" value="1" />
		     <label class="choice" for="element_12_1">Paga Salario</label>
		     <input id="element_12_2" name="element_12_2" class="element checkbox" type="checkbox" value="1" />
		     <label class="choice" for="element_12_2">Paga Familia Numerosa</label>
		</p>

		
{% endblock %}