{% extends "personal/forms/form_base.html" %}
{% load i18n %}

{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial - Accidente de Trabajo'%}
{% endblock%}

{% block extrahead %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<script type="text/javascript" src='/site_media/personal/js/forms/view.js'></script>
<script type="text/javascript" src='/site_media/personal/js/forms/calendar.js'></script>
{% endblock%}
{% block branding %}

{% endblock %}

{% block breadcrumbs %}
 {% endblock %}
            
{% block nav-global %}

{% endblock %}

{% block titulo-form %}
		<td><b><font color="#000000" style="font-size: 13px;">Estudios Cursados</font></b></td> 
	{% endblock %}

	{% block contenido-form %}
		
		<p>
		<label class="description" for="element_1">Ciclo: </label>
		<input id="element_1" name="element_1" class="element text large" type="text" maxlength="255" value=""/> 
		</p> 
		
		<p>
		<label class="description" for="element_2">Establecimiento: </label>
		<input id="element_2" name="element_2" class="element text large" type="text" maxlength="255" value=""/> 
		</p> 
		
		<p>
		<label class="description" for="element_1">Título: </label>
		<input id="element_1" name="element_1" class="element text large" type="text" maxlength="255" value=""/> 
		</p> 
		
		<p>
		<label class="description" for="element_1">Duración: </label>
		<input id="element_1" name="element_1" class="element text large" type="text" maxlength="255" value=""/> 
		</p> 
		
		<p>
		<label class="description" for="element_3">Observaciones: </label>
		<textarea id="element_3" name="element_3" class="element textarea medium"></textarea> 
		</p> 
		
		
{% endblock %}