{% extends "appPersonal/plantilla_base.html" %}

{% block content %}
<div id="content-main" >
	
	<div id="form_container">
			    
		<form id="form_544015" class="appnitro"  method="post" action="{% block action-form %}{% endblock %}" onsubmit="{% block submit-form %}{% endblock %}" onclick="{% block onclick-form %} {% endblock %}" >

		
		<table width="105%" border="0" cellspacing="0" cellpadding="1"> 
		<tr  align="center" style="border-bottom: 1px solid #eee;"> 
		
		{% block titulo-form %}
		<td><b><font color="#000000" style="font-size: 13px;">Adscriptos</font></b></td> 
		{% endblock %}
		
		</tr> 
		<tr> 
		<td> 
		<table width="100%" border="0" cellspacing="0" cellpadding="4"> 
		<tr bgcolor="#FFFFFF"> 
		<td>
		
		
		<fieldset>
		{% block contenido-form %}
		
		{% endblock %}
		
		
		</fieldset>	
		
		<input type="hidden" name="form_id" value="544015" />
		
		
		<input id="saveForm" style="margin-left: 280px; width: 140px;" class="btn btn-success" type="submit" name="submit" value="Guardar" />
		
		<input type="button" value="Volver Atrás" class="btn btn-info" style="margin-left: 4px;width: 140px;" name="Back2" onclick="history.back()" 
		/>


		</form>
		<div id="footer">
		</div>

		</td> 
		</tr> 
		</table> 
		</td> 
		</tr> 
		</table> 
	</div>
	
	</div>
{% endblock %}

