{% extends "personal/forms/form_base.html" %}
{% load i18n %}

{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial - Accidente de Trabajo'%}
{% endblock%}

{% block extrahead %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<script type="text/javascript" src='/site_media/personal/js/forms/view.js'></script>
<script type="text/javascript" src='/site_media/personal/js/forms/calendar.js'></script>
{% endblock%}
{% block branding %}

{% endblock %}

{% block breadcrumbs %}
 {% endblock %}
            
{% block nav-global %}

{% endblock %}
{% block titulo-form %}
		<td><b><font color="#000000" style="font-size: 13px;">Sanciones</font></b></td> 
	{% endblock %}

	{% block contenido-form %}
			
		<p>
		<label class="description" for="element_1">Fecha: </label>
		<span>
			<input id="element_1_1" name="element_1_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_1_1">DD</label>
		</span>
		<span>
			<input id="element_1_2" name="element_1_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_1_2">MM</label>
		</span>
		<span>
	 		<input id="element_1_3" name="element_1_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_1_3">YYYY</label>
		</span>
	
		<span id="calendar_1">
			<img id="cal_img_1" class="datepicker" src='/site_media/personal/img/forms/calendar.gif' alt="Pick a date.">	
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_1_3",
			baseField    : "element_1",
			displayArea  : "calendar_1",
			button		 : "cal_img_1",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectEuropeDate
			});
		</script>
		</p>		
		
		<p>
		<label class="description" for="element_2">Tipo Sanción: </label>
		<input id="element_2" name="element_2" class="element text large" type="text" maxlength="255" value=""/> 
		</p>
		
		
		<p>
		<label class="description" for="element_3">Observaciones: </label>
		<textarea id="element_3" name="element_3" class="element textarea medium"></textarea> 
		</p> 
		
		
		<p>
		<label class="description" for="element_4">Cantidad Dias: </label>
		<input id="element_4" name="element_4" class="element text large" type="text" maxlength="255" value=""/> 
		</p>	
	
{% endblock %}