{% extends "personal/forms/form_base.html" %}
{% load i18n %}

{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial - Agente'%}
{% endblock%}

{% block extrahead %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<script type="text/javascript" src='/site_media/personal/js/forms/view.js'></script>
<script type="text/javascript" src='/site_media/personal/js/forms/calendar.js'></script>
{% endblock%}
{% block branding %}

{% endblock %}

{% block breadcrumbs %}
 {% endblock %}
            
{% block nav-global %}

{% endblock %}

{% block titulo-form %}
		<td><b><font color="#000000" style="font-size: 13px;">Seguros</font></b></td> 
	{% endblock %}

	{% block contenido-form %}
			

		<p>	
		<label class="description" for="element_1">Nro. Poliza: </label>
		<input id="element_1" name="element_1" class="element text large" type="text" maxlength="255" value=""/> 
		</p> 

		<p>
		<label class="description" for="element_2">Observaciones: </label>
		<textarea id="element_2" name="element_2" class="element textarea medium"></textarea> 
		</p> 

		<p>
		<span>
			<input id="element_3_1" name="element_3_1" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_3_1">Obligatorio</label>

		</span>
		</p>
		
		<p>
		<span>
			<input id="element_4_1" name="element_4_1" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_4_1">Colectivo Familia</label>

		</span> 
		</p>
		
		
		<p>
		<span>
			<input id="element_5_1" name="element_5_1" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_5_1">Adicional</label>

		</span> 
		</p>
		
		
		<p>
		<span>
			<input id="element_6_1" name="element_6_1" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_6_1">Adicional por Colectivo</label>

		</span> 
		</p>

	
{% endblock %}