{% extends "personal/forms/form_base.html" %}
{% load i18n %}

{% block title %} 
	{{ title }} | {% trans 'Administracion de Vialidad Provincial - Traslado'%}
{% endblock%}

{% block extrahead %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<script type="text/javascript" src='/site_media/personal/js/forms/view.js'></script>
<script type="text/javascript" src='/site_media/personal/js/forms/calendar.js'></script>
{% endblock%}
{% block branding %}

{% endblock %}

{% block breadcrumbs %}
 {% endblock %}
            
{% block nav-global %}

{% endblock %}

{% block titulo-form %}
		<td><b><font color="#000000" style="font-size: 13px;">Traslado</font></b></td> 
	{% endblock %}

	{% block contenido-form %}
			
		<p>
		<label class="description" for="element_1">Fecha: </label>
		<span>
			<input id="element_1_1" name="element_1_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_1_1">DD</label>
		</span>
		<span>
			<input id="element_1_2" name="element_1_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_1_2">MM</label>
		</span>
		<span>
	 		<input id="element_1_3" name="element_1_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_1_3">YYYY</label>
		</span>
	
		<span id="calendar_1">
			<img id="cal_img_1" class="datepicker" src='/site_media/personal/img/forms/calendar.gif' alt="Pick a date.">	
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_1_3",
			baseField    : "element_1",
			displayArea  : "calendar_1",
			button		 : "cal_img_1",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectEuropeDate
			});
		</script>
		</p>
		
		<p>
		<label class="description" for="element_2">Agrupamiento: </label>
		<input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value=""/> 
		</p>
		
		<p>
		<label class="description" for="element_3"> Clase: </label>
		<input id="element_3" name="element_3" class="element text medium" maxlength="255" value="" type="text"></input> 
		</p>	
		
		<p>
		<label class="description" for="element_4">Categoria: </label>
		<input id="element_4" name="element_4" class="element text medium" maxlength="255" value="" type="text"></input> 
		</p>	
		
		<p>
		<label class="description" for="element_5">Clase a Cargo: </label>
		<input id="element_5" name="element_5" class="element text medium" maxlength="255" value="" type="text"></input> 
		</p>	
		
		<p>
		<label class="description" for="element_6">Zona: </label>
		<input id="element_6" name="element_6" class="element text medium" maxlength="255" value="" type="text"></input> 
		</p>	
		
		<p>
		<label class="description" for="element_7">Dirección: </label>
		<input id="element_7" name="element_7" class="element text medium" maxlength="255" value="" type="text"></input> 
		</p>	
		
		<p>
		<label class="description" for="element_8">Nuevo Agrupamiento: </label>
		<input id="element_8" name="element_8" class="element text medium" maxlength="255" value="" type="text"></input> 
		</p>
		
		<p>
		<label class="description" for="element_9">Nueva Clase: </label>
		<input id="element_9" name="element_9" class="element text medium" maxlength="255" value="" type="text"></input> 
		</p>	
		
		<p>
		<label class="description" for="element_10">Nueva Categoria: </label>
		<input id="element_10" name="element_10" class="element text medium" maxlength="255" value="" type="text"></input> 
		</p>
		
		<p>
		<label class="description" for="element_11">Nueva Clase a Cargo: </label>
		<input id="element_11" name="element_11" class="element text medium" maxlength="255" value="" type="text"></input> 
		</p>
		
		<p>
		<label class="description" for="element_12">Nueva Zona:</label>
		<input id="element_12" name="element_12" class="element text medium" maxlength="255" value="" type="text"></input> 
		</p>
		
		<p>
		<label class="description" for="element_13">Nueva Dirección: </label>
		<input id="element_13" name="element_13" class="element text medium" maxlength="255" value="" type="text"></input> 
		</p>
		
		<p>
		<label class="description" for="element_14">Observacion: </label>
		<textarea id="element_14" name="element_14" class="element text medium"  value="" type="text"></textarea> 
		</p>
		
		<p>
		<label class="description" for="element_15">Fecha: </label>
		<span>
			<input id="element_15_1" name="element_15_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_15_1">DD</label>
		</span>
		<span>
			<input id="element_15_2" name="element_15_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_15_2">MM</label>
		</span>
		<span>
	 		<input id="element_15_3" name="element_15_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_15_3">YYYY</label>
		</span>
	
		<span id="calendar_15">
			<img id="cal_img_15" class="datepicker" src='/site_media/personal/img/forms/calendar.gif' alt="Pick a date.">	
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_15_3",
			baseField    : "element_15",
			displayArea  : "calendar_15",
			button		 : "cal_img_15",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectEuropeDate
			});
		</script>
		</p>	
		
		
		<p>
		<label class="description" for="element_5">Llegada Tarde: </label>
		<span>
			<input id="element_5_1" name="element_5_1" class="element text " size="2" type="text" maxlength="2" value=""/> : 
			<label>HH</label>
		</span>
		<span>
			<input id="element_5_2" name="element_5_2" class="element text " size="2" type="text" maxlength="2" value=""/> : 
			<label>MM</label>
		</span>
		<span>
			<input id="element_5_3" name="element_5_3" class="element text " size="2" type="text" maxlength="2" value=""/>
			<label>SS</label>
		</span>
		<span>
			<select class="element select" style="width:5em" id="element_5_4" name="element_5_4">
				<option value="AM" >AM</option>
				<option value="PM" >PM</option>
			</select>
			<label>AM/PM</label>
		</span>
		</p>
	
	
{% endblock %}