{% extends "appPersonal/listado/listado_base.html" %}

{% block path %}

{% endblock%}
{% block pagination %}
	<a href="{% url 'indexPersonal' %}" style="margin-left: 20px;" class="pagination">Personal </a><a href="#" class="activo">/ Agentes</a>
{% endblock %}

{% block titulo-form %}
	<td><b><font color="#1f618d" style="font-size: 13px;">Listado Agentes</font></b></td> 
{% endblock %}

{% block barraherramientas %}  
{% endblock %}

{% block main-list %}
		<h4 style="color: #1f618d">Seleccione una opción:</h4>
		<center>
		<ul class="nav nav-tabs nav-stacked">  
			<li ><a href="{% url 'listado/agentes'%}?opc=2&busc="><strong>Agentes Activos</strong></a></li>
			<li ><a href="{% url 'listado/agentes'%}?opc=0&busc="><strong>Agentes dados de Baja</strong></a></li>
			<li ><a href="{% url 'listado/agentes'%}?opc=1&busc="><strong>Agentes Inactivos</strong></a></li>
			<li ><a href="{% url 'listado/agentes'%}?opc=9&busc="><strong>Todos los Agentes</strong></a></li>
		</ul>
		</center>
{% endblock %}
</br>

{% block paginasinf %} 
{% endblock%}